

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a target="_blank" 
             href="https://www.creative-tim.com/product/black-dashboard-django" class="simple-text logo-mini">
            GS | 
          </a>
          {% if client.client_code %}
          <a target="_blank" 
             href="{% url 'my-account' client.client_code %}" class="simple-text logo-normal">
            code: {{ client.client_code}}
          </a>
          {% else %}
           <a target="_blank" 
             href="#" class="simple-text logo-normal">
            No client Code 
          </a>

          {% endif %}
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}
          <li class="{% if 'index' in segment %} active {% endif %} ">
            <a href="{% url 'order-form' %}">
              
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Create Order</p>
            </a>
          </li>
         
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="{% url 'my-account' client.client_code %}#profile-card">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="{% if 'tables' in segment %} active {% endif %}">
            <a href="#orde-history">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Order History</p>
            </a>
          </li>
          <li class="{% if 'typography' in segment %} active {% endif %}">
            <a href="/ui-typography.html">
              <i class="tim-icons icon-align-center"></i>
              <p>Typography</p>
            </a>
          </li>
         
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="active">
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
