
{% extends 'sections/boiler_plate.html'%}
{% load static %}

{% block title %} Search | {% endblock%}
{% block content %}



 
<div class="container"> 
      <h2 class="title"> Search </h2>
    <h3 class="sub-title"> Search term: "{{ query}}" </h3>

  <!--- End slider section ---->
<!---Product ---Section----->
<div class="row container">
  <h5 class="h5" style="font-weight: bold;"> "{{query }}"</h5>
  {% if products %}
    {% for item in products %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="view overlay">
                <img src="{{ item.image.url }}" class="card-img-top">
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            

              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                      <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>$
                  {% if item.discount_price %}
                  {{ item.discount_price }}
                  {% else %}
                  {{ item.price }}
                  {% endif %}
                  </strong>
                </h4>

              </div>

            </div>

          </div>
          {% endfor %}
  {% else %}
  <h1> Hoops! we couldn't find anything relating to your search </h1>
  {% endif %}


</div>



</div>




{% endblock %}