 {% extends 'base.html' %}
  {% load crispy_forms_tags %}

  {% block content %}

<div class="container">
  <div class="row">
    <div class="col"></div>
     <div class="col-md-6">
          <!-- Heading -->
          <hr>
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted"> Confirm Delivery </span>
          </h4>
          <p> Enter the last 4 digit of the order refrence code to confirm the item has been delivered in good condition</p>

          <!-- Promo code -->
          <form class="card p-2" method="POST" action="{% url 'confirm-delivey'%}">
            {% csrf_token %}
            <div class="input-group">
              {{form.ref_code}}

                <button class="btn btn-secondary btn-md waves-effect m-0" type="submit" id="confirm-delivery">Confirm Delivery</button>
            </div>     
          </form>
   </div>  
   <div class="col"></div>
  </div>
</div>


  {% endblock %}