
{% extends "dashboard/layouts/base.html" %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<h1> Edit Profile  </h1>
		<h2 class="test"></h2>
		<form method="POST" id="account-form" action="">
			{% csrf_token %}
			<input type="hidden" name="messageid" id="messageId"/>
			{{form}}
			<input type="submit" name="submit" value=" Send Message" class="btn" id="btnsave">
		</form>
		<div id="msg" class="alert alert-danger" style="display: none"></div>
	</div>
	{% if request.user.is_authenticated %}
	<div class="col-md-6">
		<h1> Show data </h1>
		<table class="table table-hover responsive">
			<thead>
				<th> ID</th>
				<th> Sender </th>
				<th> Phone </th>
				<th> Text </th>
				<th> Action </th>
			</thead>
			<tbody id="contactTable">
				{% for message in object %}
				<tr>
					<td> {{message.id}}</td>
					<td> {{message.sender}}</td>
					<td> {{message.phone}}</td>
					<td> {{message.text}}</td>
					<td> <input type="button" name="edit" data-sid="{{message.id}}" value="Edit" class="btn btn-warning btn-sm btn-edit">
					<input type="button" name="delete" data-sid="{{message.id}}" value="Delete" class="btn btn-danger btn-sm btn-del">
					</td>
				</tr>
				{% endfor %}
			</tbody>		
		</table>		
	</div>
	{% endif %}
</div>
 {% block javascripts %}
 {% include 'testajax.html'%}

 {% endblock javascripts %}
 
{% endblock %}