
{% extends 'dashboard/layouts/base-food.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.fs-card{
	height: 21rem;
	}
	@media screen and (max-width: 768px){
		.fs-card{
			height: 30rem;
		}
	}
</style>

<div class="row">
	<!--============ Soups ======---->
	<div class="col-sm">	
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active ">
		    	<div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/soups/banga.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > African Dish </h5>
				    <!--<p class="card-text text-white">Banga soup fresh fish is a rich african meal made with cat fish</p>--->
				 
				    <h6 class="card-title text-white"> Banga Soup & Statch </h6>
				  </div>
				</div>	     
		    </div>
		    <div class="carousel-item">
		      <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/soups/owo2.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > African Dish </h5>
				    <p class="card-text text-white"></p>
				 
				    <h6 class="card-title text-white"> Owo Soup and Statch </h6>
				  </div>
				</div>	
		    </div>
		    <div class="carousel-item">
		      <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/soups/vegetable2.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > African Dish </h5>
				    <p class="card-text text-white"></p>
				    <h6 class="card-title text-white"> Vegetable Soup and Amala </h6>
				  </div>
				</div>	
		    </div>
		    <div class="carousel-item">
		      	<div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/soups/egusi.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > African Dish </h5>
				    <p class="card-text text-white"></p>
				    <h6 class="card-title text-white"> Egusi Soup and Eba </h6>
				  </div>
				</div>	
		    </div>
		     <div class="carousel-item">
		      <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/soups/vegetable.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > African Dish </h5>
				    <p class="card-text text-white"></p>
				    <h6 class="card-title text-white"> Vegetable Soup  </h6>
				  </div>
				</div>	
		    </div>
		  </div>
		</div>
		
	</div>
	<!--============ End Soup ======---->

	<!--============ Snacks  ======---->
	<div class="col-sm">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active card">
		     <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/snaks/pie3.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Snacks and Light Meal </h5>
				    <p class="card-text text-white"></p>
				 
				    <h6 class="card-title text-white"> Bugger </h6>
				  </div>
			 </div>	
		    </div>
		    <div class="carousel-item">
		      <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/snaks/buger.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Snacks and Light Meal </h5>
				    <p class="card-text text-white"></p>
				 
				    <h6 class="card-title text-white"> cake </h6>
				  </div>
			 </div>	
		    </div>
		    <div class="carousel-item">
		      <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/snaks/pie.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Snacks and Light Meal </h5>
				    <p class="card-text text-white"></p>
				 
				    <h6 class="card-title text-white"> Meat and fish pie </h6>
				  </div>
			 </div>	
		    </div>
		    <div class="carousel-item">
		      <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/snaks/cake.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Snacks and Light Meal </h5>
				    <p class="card-text text-white"></p>
				 
				    <h6 class="card-title text-white"> Cakes  </h6>
				  </div>
			 </div>	
		    </div>

		  </div>
		</div>
		
	</div>
	<!--============ End Snacks  ======---->

	<!--============ Rice ======---->
	<div class="col-sm">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active card">
		       <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/rice/frijolof.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Rice </h5>
				    <p class="card-text text-white"></p>
				    <h6 class="card-title text-white"> Fried Rice, Jolof and turkey </h6>
				  </div>
			 </div>	
		    </div>
		    <div class="carousel-item">
		       <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/rice/jolof.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Rice  </h5>
				    <p class="card-text text-white"></p>
				    <h6 class="card-title text-white"> Sweet Jolof Rice   </h6>
				  </div>
			 </div>	
		    </div>
		    <div class="carousel-item">
		          <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/rice/kokonot.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Rice  </h5>
				    <p class="card-text text-white"></p>
				    <h6 class="card-title text-white"> Coconut Rice and Fish    </h6>
				  </div>
			 </div>	
		    </div>
		     <div class="carousel-item">
		          <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/rice/white.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Rice  </h5>
				    <p class="card-text text-white"></p>
				    <h6 class="card-title text-white"> White Rice, pantain and vegetable    </h6>
				  </div>
			 </div>	
		    </div>
		     <div class="carousel-item">
		          <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/rice/banga_rice.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Rice  </h5>
				    <p class="card-text text-white"></p>
				    <h6 class="card-title text-white"> Banga, Coconut Rice and Fish    </h6>
				  </div>
			 </div>	
		    </div>
		     <div class="carousel-item">
		          <div class="card bg-dark text-white">
				  <img src="/static/dash/assets/img/rice/fried.png" class="card-img rounded" alt="...">
				  <div class="card-img-overlay">
				    <h5 class="card-title text-white" > Rice  </h5>
				    <p class="card-text text-white"></p>
				    <h6 class="card-title text-white">  Fried Rice   </h6>
				  </div>
			 </div>	
		    </div>
		  </div>
		</div>		
	</div>
	<!--============ End Rice ======---->
</div>

<div class="row container">
	<div class="col-sm-8 ">
		<h2 class="text-center h2"><strong>Your meal from your Choiced eatry</strong></h2>
		<p class="text-center"> Give your hunger a new taste with numerious eatries to choose from </p>
		<hr>
		<div class="row">
		{% for obj in seller %}
		<div class="col-md-4">
		<div class="card fs-card " >
		{% if obj.image %}
		  <img src="{{ obj.image.url }}" class="card-img-top " alt="...">
		  {% else %}
		    <img src="..." class="card-img-top ">
		  {% endif %}
		   {% if obj.active == False %}
		  <span class="position-absolute top-5 start-100 translate-middle badge rounded-pill " style="background-color:grey;">LIVE
			  </span>
			 {% else %}
			 <span class="position-absolute top-5 start-100 translate-middle badge rounded-pill bg-danger">LIVE
			  </span>
			  {% endif %}
	
		    <h5 class="card-title">{{obj}}</h5>
		    <p class="card-text"><strong></strong>{{obj.description}}</p>
		    <p class="card-text">located @ {{obj.city}}</p>
		   <div class="card-body">
		   
		    {% if obj.active == True %}
		    <a href="{% url 'store:seller' obj.owner.client_code %}" class="btn btn-danger rounded-pill"> View Menu</a> <span class="badge rounded-pill bg-dark">BUY</span>
		    {% else %}
		    <h5 class="" style="font-weight:bold; color: grey;"> On boarding...</h5>
		    {% endif %}
		  </div>
		</div>
	</div>

		<!---<div class="card mb-3" style="max-width: 540px;">
	  <div class="row g-0">
	    <div class="col-md-4">
	      <img src="{{ obj.image.url }}" class="img-fluid rounded-start" alt="...">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">{{obj}}</h5>
	        <p class="card-text">{{obj.description}}</p>
	        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      </div>
	    </div>
	  </div>
	</div>---->




		{% endfor %}
	</div>


	</div>
	


</div>


{% endblock %}