{% extends 'dashboard/layouts/base-store.html' %}
{% load static %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
{% include 'sections/big_ads.html'%}
	<div class="col-sm">
		<div class="card" style="width: 20rem; ">
		  <div class="card-body">
    		<h5 class="card-title"> <i class="tim-icons icon-headphones"></i> 0704 135 4452 </h5>
    		<p class="card-text"> You can place your order via voice call </p>
    		<div class="border"></div>
    		<h5  class="card-title" ><i class="fab fa-whatsapp"></i> Whatsapp </h5></a>
    		
		</div>
	</div>
  <h4> Latest Promotions </h4>
    <!--============ Soups ======---->
 {% include 'sections/small_ads.html'%}

	</div>

<!--==========-Product -========--Section----->
<div class="row container">
  <h3 class="" style="font-weight: bold;"> Popular Products  </h3>
  <br>
    {% for item in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="view overlay">
                {% if item.image %}
                <img src="{{ item.image.url }}" class="card-img-top" style="height: 12rem;">
                {% else %}
                 <img src="..." class="card-img-top" style="height: 12rem;">
                {% endif %}
                
                {% if item.status == 'NOT ON SALE' %}
                <a href="#">
                {% else %}
                 <a href="{{ item.get_absolute_url }}">
                {% endif %}
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h4>
                  <strong>
                    {% if item.status == 'NOT ON SALE' %}
                    <a class="grey-text">{{ item.title }}
                    {% else %}
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                    {% endif %}

                    {% if item.status != 'NOT ON SALE' %}
                      <span class="badge badge-{{ item.get_label_display }}"> {{item.status}} </span>
                      {% else %}
                       <span class="badge badge-pill" style="background-color: grey;"> {{item.status}} </span>
                      {% endif %}
                    </a>
                  </strong>
                </h4>
                {% if item.status == 'NOT ON SALE' %}
                <h4 class=" grey-text" style="color:grey;">
                <strong> &#8358;
                {% else %}
                <h4 class="font-weight-bold blue-text">
                  <strong> &#8358;
                {% endif %}

                {% if item.status != 'NOT ON SALE' %}
                  {% if item.discount_price %}
                    {{ item.discount_price }}
                  {% else %}

                    {{ item.price }}
                  {% endif %}

                  {% else %}
                  Available soon    

                {% endif %}          
                  </strong>
                </h4>

              </div>

            </div>

          </div>
          {% endfor %}
			</div>

<!---Product ---Section----->
<div class="row container">
  <h3 class="" style="font-weight: bold;"> Product whish list </h3>
  <p> All items would be available soon </p>
  <br>
    {% for item in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="view overlay">
                {% if item.image %}
                <img src="{{ item.image.url }}" class="card-img-top" style="height: 12rem;">

                {% else %}
                 <img src="..." class="card-img-top" style="height: 12rem;">
                {% endif %}
                
                {% if item.status == 'NOT ON SALE' %}
                <a href="#">
                {% else %}
                 <a href="{{ item.get_absolute_url }}">
                {% endif %}
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h4>
                  <strong>
                    {% if item.status == 'NOT ON SALE' %}
                    <a class="grey-text">{{ item.title }}
                    {% else %}
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                    {% endif %}

                    {% if item.status != 'NOT ON SALE' %}
                      <span class="badge badge-{{ item.get_label_display }}"> {{item.status}} </span>
                      {% else %}
                       <span class="badge badge-pill" style="background-color: grey;"> {{item.status}} </span>
                      {% endif %}
                    </a>
                  </strong>
                </h4>
                {% if item.status == 'NOT ON SALE' %}
                <h4 class=" grey-text" style="color:grey;">
                <strong> &#8358;
                {% else %}
                <h4 class="font-weight-bold blue-text">
                  <strong> &#8358;
                {% endif %}

                {% if item.status != 'NOT ON SALE' %}
                  {% if item.discount_price %}
                    {{ item.discount_price }}
                  {% else %}

                    {{ item.price }}
                  {% endif %}

                  {% else %}
                  Available soon    

                {% endif %}          
                  </strong>
                </h4>

              </div>

            </div>

          </div>
          {% endfor %}
			</div>


		

{% endblock %}