{% extends 'dashboard/layouts/base-store.html' %}
{% load static %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
	<div class="col-md-8">
	    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	    <div class="carousel-indicators">
	      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	    </div>
	    <div class="carousel-inner" >
	      <div class="carousel-item active">
	        <img src="{% static 'dash/assets/img/mek_food.png' %}" class="d-block w-100" alt="...">
	        <div class="carousel-caption d-none d-md-block">
	          
	        </div>
	      </div>
	      <div class="carousel-item">
	        <img src="{% static 'dash/assets/img/job2.png' %}" class="d-block w-100" alt="...">
	        <div class="carousel-caption d-none d-md-block">
	          <h5>Second slide label</h5>
	          <p>Some representative placeholder content for the second slide.</p>
	        </div>
	      </div>
	      <div class="carousel-item">
	        <img src="{% static 'dash/assets/img/vegetable.jpg' %}" class="d-block w-100" alt="...">
	        <div class="carousel-caption d-none d-md-block">
	          <h5>Third slide label</h5>
	          <p>Some representative placeholder content for the third slide.</p>
	        </div>
	      </div>
	    </div>
	    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	      <span class="visually-hidden">Previous</span>
	    </button>
	    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	      <span class="carousel-control-next-icon" aria-hidden="true"></span>
	      <span class="visually-hidden">Next</span>
	    </button>
	    </div>
</div>
	<div class="col">
		<h4>Ads section </h4>

		<div class="card" style="width: 20rem; ">
		  <div class="card-body">
    		<h5 class="card-title"> <i class="tim-icons icon-headphones"></i> 0704 135 4452 </h5>
    		<p class="card-text"> You can place your order via voice call </p>
    		<div class="border"></div>
    		<h5  class="card-title" ><i class="fab fa-whatsapp"></i> Whatsapp </h5></a>
    		
		</div>
	</div>
		<div class="card" style="width: 20rem; ">
		  <img class="card-img-top" src="{% static 'dash/assets/img/vegetable.jpg' %}" alt="Card image cap" >
		  <div class="card-body">
		    <p class="card-text">Mek's kitchen now open.</p>
		  </div>
		</div>
		
	</div>

<!---Product ---Section----->
<div class="row container">
  <h3 class="" style="font-weight: bold;"> Product whish list </h3>
  <p> All items would be available soon </p>
  <br>
    {% for item in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="view overlay">
                {% if item.image %}
                <img src="{{ item.image.url }}" class="card-img-top" style="height: 12rem;">

                {% else %}
                 <img src="..." class="card-img-top" style="height: 12rem;">
                {% endif %}
                
                {% if item.status == 'NOT ON SALE' %}
                <a href="#">
                {% else %}
                 <a href="{{ item.get_absolute_url }}">
                {% endif %}
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h4>
                  <strong>
                    {% if item.status == 'NOT ON SALE' %}
                    <a class="grey-text">{{ item.title }}
                    {% else %}
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                    {% endif %}

                    {% if item.status != 'NOT ON SALE' %}
                      <span class="badge badge-{{ item.get_label_display }}"> {{item.status}} </span>
                      {% else %}
                       <span class="badge badge-pill" style="background-color: grey;"> {{item.status}} </span>
                      {% endif %}
                    </a>
                  </strong>
                </h4>
                {% if item.status == 'NOT ON SALE' %}
                <h4 class=" grey-text" style="color:grey;">
                <strong> &#8358;
                {% else %}
                <h4 class="font-weight-bold blue-text">
                  <strong> &#8358;
                {% endif %}

                {% if item.status != 'NOT ON SALE' %}
                  {% if item.discount_price %}
                    {{ item.discount_price }}
                  {% else %}

                    {{ item.price }}
                  {% endif %}

                  {% else %}
                  Available soon    

                {% endif %}          
                  </strong>
                </h4>

              </div>

            </div>

          </div>
          {% endfor %}


</div>





		

{% endblock %}