
{% extends 'dashboard/layouts/base-login.html'%}

{% block content %}



<div class="container-login100" >

<div class="wrap-login100">


<form action= "" class="login100-form validate-form" method= "POST" >
  {% csrf_token %}
  <span class="login100-form-title p-b-43">Login to continue</span>


<div class="wrap-input100 validate-input">
<input class="input100" type="text" name="username">
<span class="focus-input100"></span>
</div>
<p class="label-">Username</p>

<div class="wrap-input100 " data-validate="Password is required">
<input class="input100" type="password" name="password">
<span class="focus-input100"></span>
</div>
<p>Password</p>

<div class="flex-sb-m w-full p-t-3 p-b-32">
<div class="contact100-form-checkbox">

<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
<label class="label-checkbox100" for="ckb1">
Remember me  
</label>
</div>

<div>
<a href="#" class="txt1" style="text-decoration:none;">
Forgot Password?
</a>
</div>
</div>

<div class="container-login100-form-btn">
<button class="login100-form-btn" onclick ="myFunction()" id="btn-login">
Login
</button>
</div>

<div class="text-center p-t-46 p-b-20">
<span class="txt2">
<a href="/">Back to home </a>  | or <a href="{% url 'register'%}">sign up</a> 

</span>
</div>

</form>


{% for messages in message %}
  {{message}}
{% endfor %}

<div class="login100-more" id="form-loader" style="display:none; background-color: black;">
  <div class="container">
    <div id="loader"></div>
    <h3 class="line anim-typewriter" style=""> Welcome to MEKLINTS </h3>
  </div>
</div>


<div class="login100-more" style="background-image: url( 'static/images/bg_03.png');" id="form-img">
  <div class="container">
    <h3 class="line anim-typewriter" style="">Shop Easy, Save Money <br>Save Stress </h3>
  </div>
</div>
</div>
</div>

{% endblock %}


