
{% extends 'dashboard/layouts/base-store.html' %}
{% load static %}

{% block title %} Search | {% endblock%}
{% block content %}


 
<div class="container"> 
    <h3 class="sub-title"> Searched term: <strong>{{ query}}</strong> </h3>
    <h5> Found {{products.count}} {% if products.count == 1 %}
          item matching {{ query}} 
          {% else %} items matching 
          {{ query}} 
          {% endif %}
          </h5> 

  <!--- End slider section ---->
<!---Product ---Section----->
<div class="row container">
  {% if products %}
    {% for item in products %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="view overlay">
                <img src="{{ item.image.url }}" class="card-img-top" style="height: 10rem;">
                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            

              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                      <span class="badge badge-pill {{ item.get_label_display }}-color"> </span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong> &#8358;
                  {% if item.discount_price %}
                  {{ item.discount_price }}
                  {% else %}
                  {{ item.price }}
                  {% endif %}
                  </strong>
                </h4>

              </div>

            </div>

          </div>
          {% endfor %}
  {% else %}
  <h1 class="text-center"> Hoops! we couldn't find anything relating <br> to your search  </h1>
  <h4 class="text-center">Please check that you spelled the word correctly. <br> you can also call our help line to help get what you want.  </h4>
  {% endif %}

</div>
</div>




{% endblock %}