{% extends 'sections/boiler_plate_two.html'%}

{% load static %}

{% block content %}

<style type="text/css">
	.left-m{
		margin-left: 2rem;
		color: white;

	}

</style>

<!--=========== Intro section===========--->
<div class="" style="background-color:#6C1719;">
	<div class="row p-4" style="padding-top: 20px;">
		<div class="col-sm-8">
			<div class="container">
				<h1 class="h1 left-m" >Find the perfect services/provider <br>for your Domestic Needs</h1>
				<div class="">
			       <form class="d-sm-flex" method="GET" action="{% url 'store:search' %}" >

			        <input class="form-control form-search" type="search" placeholder="Search for domestic services" aria-label="Search" name="query" style="background-color:white;">
			        <button class="btn search-btn" type="submit">Search</button>
			      </form>
					
				</div>
				<h5 class="h5 left-m p-4"> Porpular:  <span class="badge bg-danger">Cleanining </span>  <span class="badge bg-danger">Plumbing</span>  <span class="badge bg-danger">Electrical</span>
				 <span class="badge bg-danger">Mechanical <span class="badge bg-danger">(Gen.)</span>
				 <span class="badge bg-danger">Loundry </span> </h5>

			</div>
		</div>
		<div class="col">
			<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="/static/dash/assets/img/service/clearner2.png" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="/static/dash/assets/img/service/mechanical2.png" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="/static/dash/assets/img/service/servicing2.png" class="d-block w-100" alt="...">
			    </div>
			  </div>
			</div>
		</div>	
	</div>
</div>
<!--=========== End Intro section===========--->

<!--=========== Top service section===========--->
<div class="container p-4">
	<h3 class="h1", style="color:grey; font-size: 25px;"> Most Porpular Services </h3>
	<p> Popular professional service providers </p>
	<div class="row p-4">
		 {% for obj in serve %}
		 {% if obj.status == 'HOT' and obj.active == True %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card fs-card " >
            	{% if obj.image %}
		  			<img src="{{ obj.image.url }}" class="card-img-top " alt="..." style="height:10rem">
		  			{% else %}
		  				<img src="..." class="card-img-top " alt="..." style="height:10rem">
		  			{% endif %}
			 <span class="position-absolute top-5 start-100 translate-middle badge rounded-pill bg-danger"> {{obj.status}}
			  </span>
		   <div class="card-body">
		   	<div class="row">
				<div class="col">
					{% if obj.seller.profile.image %}
					<img src="{{ obj.seller.profile.image.url }}" alt="..." class="border border-2 rounded-circle border-secondary" style="height:3rem; width: 3rem;">
					{% else %}
					<img src="/static/dash/assets/img/avatar.png" alt="..." class="border border-2 rounded-circle border-secondary" style="height:2rem; width: 2rem;">

					{% endif %}

					</div>
					<div class="col-md-8">
						<h3 style="font-weight:bold;">{{obj}}</h3>
						<p class="grey-text">Provider: {{obj.seller.user}} </p>
					</div>	
			</div>
		    {% if obj.active == True %}
		    <a href="{% url 'store:provider' obj.seller.user.userprofile.client_code %}" class="btn btn-danger rounded-pill"> View Gig</a> <a href="{{ obj.get_absolute_url }}"><span class="badge rounded-pill bg-dark">BUY</span></a>
		    {% else %}
		    <h5 class=""> {{obj.description}} </h5>
		    {% endif %}
		  </div>
		</div>

    </div>

          {% endif %}
          {% endfor %}

	</div>

	<hr>
	<h4 class="h1", style="color:grey; font-size: 20px;"> Other Services just for you</h4>
	<div class="row p-4">
		 {% for obj in serve %}
		 {% if obj.status != 'HOT' %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card fs-card " >
            	{% if obj.image %}
		  			<img src="{{ obj.image.url }}" class="card-img-top " alt="..." style="height:10rem">
		  			{% else %}
		  			<img src="..." class="card-img-top " alt="..." style="height:10rem">
		  			{% endif %}

			  <span class="position-absolute top-5 start-100 translate-middle badge rounded-pill " style="background-color:grey;">{{obj.status}}
			  </span>
		    
		   <div class="card-body">
		   	<div class="row">
				<div class="col">
					{% if obj.seller.profile.image %}
					<img src="{{ obj.seller.profile.image.url }}" alt="..." class="border border-2 rounded-circle border-secondary" style="height:3rem; width: 3rem;">
			
					{% else %}
					<img src="/static/dash/assets/img/avatar.png" alt="..." class="border border-2 rounded-circle border-secondary" style="height:2rem; width: 2rem;">

					{% endif %}
					</div>
					<div class="col-md-8">
						<h3 style="font-weight:bold;">{{obj}}</h3>
						<p class="grey-text">By: {{obj.seller.profile}}</p>
					</div>
					
			</div>
		    {% if obj.active == True %}
		    <a href="{% url 'store:provider' obj.seller.user.userprofile.client_code %}" class="btn btn-danger rounded-pill"> View Gig</a> <a href="{{ obj.get_absolute_url }}"><span class="badge rounded-pill bg-dark">BUY</span></a>
		    {% else %}
		    <h5 class="grey-text"> On boarding... </h5>
		    {% endif %}
		  </div>
		</div>

    </div>
       {% endif %}
      {% endfor %}

	</div>

	
</div>


{% endblock %}