<script >


	// Client Code form 
	$(document).ready(function(){
		/**	
			$.get("test.txt", function(data, status)){
					$("#test").html(data);
					alert(status);
				}
			$("#codeId").keyup(function(){});// key upclose 
		**/

		$("#checkOut").click(function(){
			console.log("Checkout Btn Clicked ");
			$.ajax({
				
			});
			//event.preventDefault();
		});



		$("#codeNo").click(function(){
			console.log("Confirm code button clicked");		
			let co = $("#codeId").val();
			let csrf = $("input[name=csrfmiddlewaretoken]").val();
			console.log(co);
			mycode = {
				code: co,
				csrfmiddlewaretoken: csrf,
			};
			
			$.ajax({
				url : "{% url 'store:add-client-details' %}",
				method: "POST",
				data : mycode, 
				success:function(data) {
					x = data.client_data;
					console.log(x)
					$("form")[0].reset();
				
					$("#msinfo").text("Code submited")
					//$("#msinfo").show();
				$("#clientCard").html();
				// body...
			}


			});
			event.preventDefault();
		
			//event.preventDefault();
			//location.reload()
		
		});
	});

	

	// Get order item input
	$("#addCart").click(function(){
		console.log("Add to Cart button Clicked");
		recentOrder = "";
		let itemId =$("#itemId").val();
		let na = $("#lableId").val();
		let pri = $("#priceId").val();
		let desc = $("#descId").val();
		let cath = $("{{name}}").value();
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		if (name == ""){
			console.log("Please enter an item name ")
		}
		myitem = {
			itemid : itemId,
			name: na,
			price: pr, 
			description : desc,
			cathegory : cath,
			csrfmiddlewaretoken: csrf

		}
		$.ajax({
				url: "{% url 'order-form' %}",
				method: "POST",
				data: myitem,
				success:function(data){

					$("form")[0].reset();
					x = data.item_data;

					console.log("Form Submitted successfully ")
					console.log(x)

					if (data.status == "Save"){
						output = ""
						console.log("Form Submitted successfully ")
						//$("#msg").text("Form Submitted successfully")
						//$("#msg").show();

			}
		},

		});
	});

	// create user account function 
	$("#editProfile").on("click", "#updateAcct", function(){
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		let ti = $("#tiId").val();
		let em = $("#emId").val();
		let fs = $("#fsId").val();
		let ls = $("#lsId").val();
		let ph1= $("#ph1Id").val();
		let ph2= $("#ph2Id").val();
		let tn = $("#tonId").val();
		let lm = $("#lmId").val();
		let sex= $("#seId").val();
		let apt= $("#apId").val();
		let agn= $("#agnId").val();
		let user= $("#userId").val();
		let bus= $("#busId").val();
		let client = $("#clcId").val();

		
		console.log("Save Update Button Clicked")
		console.log(user)

		/*
			condata = { 
				"csrfmiddlewaretoken": csrf,
			    "title": ti,
			    "first_name": fs,
			    "last_name": ls,
			    "email": em,
			    "phone1": ph1,
			    "phone2": ph2,
			    "town": tn,
			    "apartment_address": apt,
			    "land_mark": lm,
			    "client_code": client,
			    "sex": sex,
			    "user": user,
			    "agent_code": agn,
			    "bus_account": bus,
			}
		*/

		condata = { 
				csrfmiddlewaretoken: csrf,
			    title: ti,
			    first_name: fs,
			    last_name: ls,
			    email: em,
			    phone1: ph1,
			    phone2: ph2,
			    town: tn,
			    apartment_address: apt,
			    land_mark: lm,
			    client_code: client,
			    sex: sex,
			    userId: user,
			    agent_code: agn,
			    bus_account: bus,
			}

		$.ajax({
			url: "{% url 'update-client' %}",
			method: "POST",
			data: condata, 
			success: function(data){
				console.log(data);
			
		},

		});

		event.preventDefault();
	});

	$("#saveAcct").click(function(){
		console.log("Save Account button clicked");
		let ti = $("#titleId").val();
		let em = $("#emailId").val();
		let fs = $("#fstId").val();
		let ls = $("#lstId").val();
		let ph1= $("#ph1Id").val();
		let ph2= $("#ph2Id").val();
		let ld = $("#landId").val();
		let agc= $("#agnId").val();
		let sex= $("#sexId").val();
		//let csrf = $("input[name=csrfmiddlewaretoken]").val();
		if (ti == ""){
			console.log("Please enter a title")
		} else if (fs == ""){
			console.log("First Name is important")
		} else if (ls == ""){
			console.log("Enter last Name")
		} else {
			condata ={
				title:ti,
				first_name:fs,
				last_name:ls,
				email:em,
				phone1:ph1,
				phone2:ph2,
				land_mark:ld,
				agent_code:agc,
				sex:sex,
				csrfmiddlewaretoken: csrf 
			}
		};

		// sending data with AJAX 

	});
	// create And insert contact fuction 
	$("#btnsave").click(function(){
		console.log("Send Button Clicked");
		output = "";
		let conid = $("#messageId").val();
		let se = $("#senderId").val();
		let ph = $("#phoneId").val();
		let te = $("#textId").val();
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		if (se == ""){
			console.log("Please enter a sender name")
		} else if (ph == ""){
			console.log("Please enter a valid phone number")
		} else if (te == ""){
			console.log("Please enter a message to send")
		} else {
			//console.log(se);
			//console.log(ph);
			//console.log(te);
			mydata = { 
				messageid:conid, 
				sender: se, 
				phone: ph, 
				text: te, 
				csrfmiddlewaretoken: csrf 
			}
			$.ajax({
				url: "{% url 'save' %}",
				method: "POST",
				data: mydata,
				success:function(data){
					x = data.contact_data;
					//console.log(data)
					if (data.status == "Save"){
						output = ""
						console.log("Form Submitted successfully ")
						$("#msg").text("Form Submitted successfully")
						$("#msg").show();

						console.log(x);
						//appendToContactTable(x);	
						for (i= 0; i < x.length; i++ ){
							output += "<tr><td>" + x[i].id + "</td><td>" + x[i].sender + "</td><td>" + x[i].phone + "</td><td>" + x[i].text + "</td><td><input type='button' name='edit' value='Edit' class='btn btn-warning btn-sm btn-edit' data-sid=" + x[i].id + "> <input type='button' name='delete' value='Delete' class='btn btn-danger btn-sm btn-del' data-sid=" + x[i].id + ">"	
						}
						$("#contactTable").html(output);
						$("#messageId").val("");
						$("form")[0].reset();
					}
					if (data.status == 0 ){
						console.log("unable to save form ")
						$("#msg").text("Unable to save data")
						$("#msg").show();
						$("#messageId").val("");
						$("form")[0].reset();
					}

				},

			});
		};
		event.preventDefault();
	
		// body...
	});
	// Delete Contact Function 
	$("#contactTable").on("click", ".btn-del", function(){
		console.log("Delete Button Clicked")
		let id = $(this).attr("data-sid");
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		//console.log(id);
		mydata = {sid:id, csrfmiddlewaretoken: csrf };
		mythis= this;
		$.ajax({
			url: "{% url 'delete' %}",
			method: "POST",
			data: mydata, 
			success: function(data){
				console.log(data);
				if (data.status == 1){
					//console.log("Data Deleted successfully");
					$("#msg").text("Data Deleted successfully")
					$("#msg").show();
					$(mythis).closest("tr").fadeOut();
				};
				if (data.status == 0){
					//console.log("Unable to delete data");
					$("#msg").text("Unable to delete data")
					$("#msg").show();
				};
			},
		});
	}); // end Delete contact Fuction 

	/**
	NOTE: 
	Do not forget to create a varable for csrf into the data dictionary 
	each time we are doing a CRUDE operation with Ajax and django 

	and also crate a varable of input and set to hidden in the template. 

	**/

	//Editing Contact Data 
	$("#contactTable").on("click", ".btn-edit", function(){
		console.log("Edit Button Clicked")
		let id = $(this).attr("data-sid");
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		//console.log(id);
		mydata = {sid:id, csrfmiddlewaretoken: csrf };	
		$.ajax({
			url: "{% url 'edit' %}",
			method: "POST",
			data: mydata, 
			success: function(data){
				//console.log(data);messageId
				$("#messageId").val(data.id);
				$("#senderId").val(data.sender);
				$("#phoneId").val(data.phone);
				$("#textId").val(data.text);
		},

		});
	});

	// End Editing Contact Data 

</script>

