<script >


	// Client Code form 
	$(document).ready(function(){
		/**	
			$.get("test.txt", function(data, status)){
					$("#test").html(data);
					alert(status);
				}
			$("#codeId").keyup(function(){});// key upclose 



		**/

		var now = Date()

		$("#auto-save-off").click(function(){
			console.log("Auto save button clicked ");
			console.log(now)
			
		
		});

		var clicks = 0; // counter 
		var a = document.getElementById('auto-save'); // element
		var t = document.getElementById('save-off'); // element
	
		a.onclick = function(b) { 
			a.classList.add("text-primary");

			clicks = ++clicks

			var c = localStorage.getItem("saveOn")
			console.log(c)

			if (localStorage.getItem("saveOn")) {
				$("#save-on").show();
				$("#save-off").hide();

			}
				


			if (clicks == 1 ){
				window.alert("Activating auto save ")
				console.log("activating auto save ")
				console.log(clicks)
				$("#save-on").show();
				$("#save-off").hide();
			
			
				localStorage.setItem('saveOn', 'clicks');
				console.log(localStorage.getItem("saveOn"))
			};
			if (clicks > 1 ){	
				a.classList.remove("text-primary");
				$("#save-on").hide();
				$("#save-off").show();
				alert("do you want to disable auto save? ")
				console.log("do you want to disable auto save? "); 

			};
			if (clicks > 2 ){	
				a.classList.add("text-primary");
				$("#save-on").show();
				$("#save-off").hide();
				window.alert("What do you want to do? ")
				console.log("what do you want ? "); 

			};
			

		// onclick not onClick
		  // increment it
		}




		$("#checkOut").click(function(){
			console.log("Checkout Btn Clicked ");
			$.ajax({
				
			});
			//event.preventDefault();
		});

	


		//wallet functions 
		// Top Up card and form toggle 
		$("#top-up").click(function(){
			console.log("Top Up button clicked ")
			$("#tpCard").hide();
			$("#tpForm-card").show();

		});
		// Top Up card and form data transfer function 
		$("#Top-proceed").click(function(){
				console.log("Top Up Proceed button clicked ")
				let acctuser = $("#accUserId").val();
				let payment = $("input[name=payment_type]:checked").val();
				let amount = $("#tpAmtId").val();
				let csrf = $("input[name=csrfmiddlewaretoken]").val();

				if ( amount == ''){
				console.log("amount can't be empty ")
				alert("amount can't be empty ")
				}

				console.log(payment)
					tamount ={
						actUser: acctuser,
						pay:payment,
						amount:amount,
						csrfmiddlewaretoken: csrf,

					}
				$.ajax({
					url : "{% url 'topup' %}",
					method : "POST",
					data : tamount, 
					success:function(data) {
							if (data.status == "Save"){
							x = data.pending_fund
							y = data.payment_type
								new_bal = ""
								$("#tpCard").show();
								$("#tpForm-card").hide();

								//alert("topop successful")
								$("#tsmsg").text("99% completed, Just a minute. we need to confirm your cash. Ref_code: " + data.trans_code )
								$("#tsmsg").show()


							//alert("topop successful")
								/*
								TODO: SEND THIS TO CFO DASHBOARD TO CONFIRM PAY 
								new_bal += "<i class='tim-icons icon-wallet-43 text-primary'></i> " + ' &#8358; '  + x
								$("#tbal").html(new_bal);

								*/
							
							}	
							if (data.status == 0){
							x = data.pending_fund
							y = data.payment_type
								new_bal = ""
								$("#tpCard").show();
								$("#tpForm-card").hide();
								//alert("topop successful")
								$("#tdmsg").text("Whoops! sorry Card payment is not available at the moment ")
								$("#tdmsg").show()
							//alert("topop successful")
								/*
								TODO: SEND THIS TO CFO DASHBOARD TO CONFIRM PAY 
								new_bal += "<i class='tim-icons icon-wallet-43 text-primary'></i> " + ' &#8358; '  + x
								$("#tbal").html(new_bal);

								*/	
							}
							if (data.status == 1 ){
							x = data.pending_fund
							y = data.payment_type
								new_bal = ""
								$("#tpCard").show();
								$("#tpForm-card").hide();
								//alert("topop successful")
								$("#tpmsg").text("Greate, kindly pay into; Acc. No: 113339999. Bank: UBA to complete transaction  Ref_code: " + data.trans_code  )
								$("#tpmsg").show()
							//alert("topop successful")
								/*
								TODO: SEND THIS TO CFO DASHBOARD TO CONFIRM PAY 
								new_bal += "<i class='tim-icons icon-wallet-43 text-primary'></i> " + ' &#8358; '  + x
								$("#tbal").html(new_bal);

								*/				
							}		
					
					}
				});
				

			event.preventDefault();
			});

	// Withdrwal function 
	$("#wit-draw").click(function(){
			console.log("Whitdrawal button clicked ")
			$("#draw").hide();
			$("#dform").show();
			let name = $("#accnntId").val();
			let acc_name = $("#actId").val(name);
			
		});

		$("#btnwit").click(function(){
			console.log("Confim wihdrawalbutton clicked ")
			let acctuser = $("#accUserId").val();
			let name = $("#accnntId").val();
			let acc_name = $("#actId").val(name);
			let amount = $("#amtId").val();
			let note = $("#noteId").val();
			let csrf = $("input[name=csrfmiddlewaretoken]").val();
			if ( amount == ''){
				console.log("amount can't be empty ")
				alert("amount can't be empty ")
			}
				wdata = {
					actUser: acctuser,
					name: name,
					amount:amount,
					note:note,
					csrfmiddlewaretoken: csrf,

				}
				$.ajax({
					url : "{% url 'request-cash' %}",
					method : "POST",
					data : wdata, 
					success:function(data) {
						if (data.status == "Save"){
							x = data.wallet_balance
								new_bal = ""
								$("#draw").show();
								$("#dform").hide();
							//alert("topop successful")
								$("#wsmsg").text(" You just requested for a cash out of " +  amount + " Ref_code:" + data.trans_code)
								$("#wsmsg").show();
								$("#wpmsg").hide();

								new_bal += "<i class='tim-icons icon-wallet-43 text-primary'></i> " + ' &#8358; '  + x
								$("#tbal").html(new_bal);
							
							}

						if (data.status == 1 ){
							$("#draw").show();
							$("#dform").hide();
							$("#wpmsg").text("Woops! the money in your account is not sufficient for this cashout ")
							$("#wpmsg").show();
							$("#wsmsg").hide();
							}
						if (data.status == 2 ){
							$("#draw").show();
							$("#dform").hide();
							$("#wdmsg").text("Hey! We just can let you emplty your account ")
							$("#wdmsg").show();
							$("#wsmsg").hide();
							$("#wpmsg").hide();
							}
						if (data.status == 0 ){
							alert("Process terminated. sorry somthing whent wrong. try again later. ")	
							}	
											
					}
				});
		event.preventDefault();
		});

	// Send money function 
	$("#send-btn").click(function(){
			console.log("Send button clicked ")
			$("#send_card_draw").hide();
			$("#accnform").show();
			let name = $("#accnntId").val();
			//let acc_name = $("#actId").val(name);
			
		});

	$("#acc_confirm").click(function(){
		console.log("Confirm account number button clicked ")
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		let sender = $("#senderId").val();
		let type = $("input[name=account_type]:checked").val();
		let reciev_account = $("#reciev_accId").val();

		if (reciev_account== ''){
			alert("please enter your account number ")
		}
				
		confirm_data = {
				account_type:type,
				sender:sender,
				reciever_account:reciev_account,
				csrfmiddlewaretoken: csrf,

			}

			$.ajax({
						url : "{% url 'confirm-mek-account' %}",
						method : "POST",
						data : confirm_data, 
						success:function(data) {
							rec_name = data.response
							rec_bnk = data.bank
							rec_acc = data.number
							rec_acc_type = data.acc_type
							//console.log(rec_acc_type)

							if (data.status == "True"){		
									new_bal = ""
									$("#sendform").show();
									$("#accnform").hide();
								
									//alert("topop successful")
									$("#cfsmsg").text("Sending to " + rec_name )
									$("#cfsmsg").show();
									$("#rec_accnaId").val(rec_name);
									$("#rec_bnkId").val(rec_bnk);
									$("#rec_act_no_Id").val(rec_acc);
									$("#rec_act_type_Id").val(rec_acc_type);

									//console.log(rec_acc_type)
									//$("#sepmsg").hide();
								
								}
							if (data.status == 0 ){
								$("#sendform").show();
								$("#accnform").hide();
								$("#cfwmsg").text(" Enter bank details" )
								$("#cfwmsg").show();
								}
							if (data.status == 50 ){
								$("#sendform").show();
									$("#accnform").hide();
								
									//alert("topop successful")
								$("#cfsmsg").text("Sending to " + rec_acc + " account " )
								$("#cfsmsg").show();
								$("#rec_act_no_Id").val(rec_acc);
								$("#rec_act_type_Id").val(rec_acc_type);
								//console.log(rec_acc_type)
								//alert('please select an account type ')
								}
							if (data.status == 100 ){
								alert('Invalid Account number ')
								}
									
						}
					});

	event.preventDefault();

	});

	$("#send_confirm").click(function(){
		console.log("Confirm send money button clicked");
			let type = $("#rec_act_type_Id").val();
			let sender = $("#senderId").val();
			let amount = $("#rec_amtId").val();
			let rec_name = $("#rec_accnaId").val();
			let bnk = $("#rec_bnkId").val();
			let acc_nu = $("#rec_act_no_Id").val();
			let csrf = $("input[name=csrfmiddlewaretoken]").val();

			if ( amount == '' ){
				console.log("amount can't be empty ")
				alert("amount can't be empty ")
			}

			if ( type == ''){
				console.log("please specify account ")
				alert("please specify the account u are sending to")
			}
			if ( rec_name == ''){
				console.log("reciever can't be empty ")
				alert("Enter beneficiarie's name")
			}
			if ( bnk == ''){
				console.log("bank name can't be empty ")
				alert("Enter beneficiarie's bank name")
			}
			if ( acc_nu == ''){
				console.log("account number can't be empty ")
				alert("Enter beneficiarie's account number")
			}

			send_data = {
				account_type:type,
				sender:sender,
				amount:amount,
				bank:bnk,
				account:rec_name,
				account_num:acc_nu,
				csrfmiddlewaretoken: csrf,

			}
			$.ajax({
					url : "{% url 'send-money' %}",
					method : "POST",
					data : send_data, 
					success:function(data) {
						if (data.status == 200 ){
							x = data.wallet_balance
								new_bal = ""
								$("#send_card_draw").show();
								$("#sendform").hide();
							//alert("Send money successful")
								$("#sesmsg").text(" Transfered successful, Ref_code:" + data.trans_code )
								$("#sesmsg").show();
								//$("#sepmsg").hide();

								new_bal += "<i class='tim-icons icon-wallet-43 text-primary'></i> " + ' &#8358; '  + x
								$("#tbal").html(new_bal);
							
							}

						if (data.status == 100 ){
							$("#send_card_draw").show();
							$("#sendform").hide();
							$("#sepmsg").text("Woops! the money in your account is not sufficient for this transaction ")
							$("#sepmsg").show();
							$("#sesmsg").hide();
							}

						if (data.status == 300 ){
							$("#send_card_draw").show();
							$("#sendform").hide();
							$("#sedmsg").text("Woops! your account can't go below what it has right now  ")
							$("#sedmsg").show();
							$("#sesmsg").hide();
							}

						if (data.status == 350 ){
							$("#send_card_draw").show();
							$("#sendform").hide();
							$("#sedmsg").text("Woops! we just can't let you empty you account   ")
							$("#sedmsg").show();
							$("#sesmsg").hide();
							}

						if (data.status == 0 ){
							alert("Process terminated. sorry somthing whent wrong. try again later. ")	
							}	
											
					}
				});


	event.preventDefault();
	});

		// Save money/make investment function 
		$("#sav").click(function(){
			console.log("Save money button clicked ")
			$("#savCard").hide();
			$("#savForm-card").show();
		});

		$("#sav-proceed").click(function(){
			console.log("Save Proceed button clicked ")
				let savAmt = $("#savAmtId").val();
				let csrf = $("input[name=csrfmiddlewaretoken]").val();
				let pyd = $("#pay_dayId").val();
				console.log(pyd);
				let acctuser = $("#accUserId").val();
				console.log(savAmt)

				if ( savAmt == ''){
				console.log("Enter the amount you want to save  ")
				alert("Enter the amount you want to save ")
			}

				else if ( pyd == ''){
				console.log("Enter Savings duration   ")
				alert("Enter Savings duration ")
			}
				else if ( pyd < 3){
				console.log("The minimum duration is 3 months  ")
				alert("whoops! The minimum duration is 3 months ")
			}
				samount ={
					pay_day: pyd,
					actUser: acctuser,
					amount:savAmt,
					csrfmiddlewaretoken: csrf,

				}

				$.ajax({
					url : "{% url 'invest' %}",
					method : "POST",
					data : samount, 
					success:function(data) {

						if (data.status == "Save"){
							x = data.wallet_balance
							y = data.sav_balance
								new_bal = ""
								sv_bal = ""
								$("#savCard").show();
								$("#savForm-card").hide();
								//alert("topop successful")
								$("#smsg").text("Congrats! you have successfully saved " +  savAmt )
								$("#smsg").show()

								new_bal += "<i class='tim-icons icon-wallet-43 text-primary'></i> " + ' &#8358; '  + x
								sv_bal += "<i class='tim-icons icon-lock-circle text-primary'></i> " + ' &#8358; '  + y

								$("#tbal").html(new_bal);
								$("#sbal").html(sv_bal);
							
							}

						if (data.status == 100 ){
							$("#savCard").show();
							$("#savForm-card").hide();
							$("#sdmsg").text("We are so sorry. the minimum saveings duration is 3 months. in other to qualify to earn 10% on our raffle draw ")
							$("#sdmsg").show();
							$("#smsg").hide();
							}

						if (data.status == 1 ){
							$("#savCard").show();
							$("#savForm-card").hide();
							$("#spmsg").text("Woops! we appreciate your saving actitude. please add some more funds to your wallet and try again.  ")
							$("#spmsg").show();
							$("#smsg").hide();
							}
						if (data.status == 2 ){
							$("#savCard").show();
							$("#savForm-card").hide();
							$("#sdmsg").text("Hey! We just can't let you save all your funds. its always good to have an extral cash ")
							$("#sdmsg").show();
							$("#smsg").hide();
							$("#spmsg").hide();
							}
						if (data.status == 0 ){
							alert("Process terminated. sorry somthing whent wrong. try again later. ")	
							}
										
					}
				});

		event.preventDefault();
		});





		//Update Bank Account Form 
		$("#updateAcc").click(function(){
			//document.getElementById("demo").innerHTML = text;
			console.log("Update Account Button Clicked ");
		

		});


		//confirm code function 
		$("#codeNo").click(function(){
			console.log("Confirm code button clicked");		
			let co = $("#codeId").val();
			let csrf = $("input[name=csrfmiddlewaretoken]").val();
			console.log(co);
			mycode = {
				code: co,
				csrfmiddlewaretoken: csrf,
			};
			
			$.ajax({
				url : "{% url 'store:add-client-details' %}",
				method: "POST",
				data : mycode, 
				success:function(data) {
					x = data.client_data;
					console.log(x)
					$("form")[0].reset();
				
					$("#msinfo").text("Code submited")
					//$("#msinfo").show();
				$("#clientCard").html();
				// body...
			}


			});
			event.preventDefault();
		
			//event.preventDefault();
			//location.reload()
		
		});
	});

	
	// Confirming Transaction funtion 

	$("#transTable").on("click", ".btn-action", function(){
		console.log("confirmed Button Clicked")
		//console.log("confirmed Button Clicked")
		let id = $(this).attr("data-sid");
		let code = $("#trns_refId").val(id);
		
		let user = $("#userId").val();
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		
		trans_data = {code:id, csrfmiddlewaretoken: csrf, user_id:user }

		console.log(trans_data);
		console.log(id);
		
	
		//mythis= this;
			$.ajax({
					url : "{% url 'confirm-topup' %}",
					method : "POST",
					data : trans_data, 
					success:function(data) {
						if (data.status== 200){
							x = data.trans_data
							output= " "
							console.log(x)
							for (i= 0; i < x.length; i++ ){
								output += "<tr><td>" + x[i].status + "</td><td>" + x[i].transaction_type + "</td><td>" + x[i].amount + "</td><td>" + x[i].note + "</td><td>" + x[i].time + "</td><td>" + x[i].ref_code + "</td><td><input type='button' name='action' value='Action' class='btn btn-warning btn-sm btn-action' data-sid=" + x[i].ref_code + ">"	
							}
							$("#tran_smsg").text("Transaction Completed")
							$("#tran_smsg").show();
							$("#transTable").html(output);
							//$(mythis).closest("tr").fadeOut();



						}


					
										
					}
				});



/*



		$.ajax({
			url: "{% url 'confirm-topup' %}",
			method: "POST",
			data: trans_data, 
			success: function(data){
				console.log(data);
				if (data.status == 1){
					//console.log("Data Deleted successfully");
					//$("#msg").text("Transaction Completed")
					//$("#msg").show();
					//$(mythis).closest("tr").fadeOut();
				};
				if (data.status == 0){
					//console.log("Unable to delete data");
					//$("#msg").text("Unable to confirm transaction")
					//$("#msg").show();
				};
			},
		});
		
	*/
		
	}); // end Delete contact Fuction 





	// Get order item input
	$("#addCart").click(function(){
		console.log("Add to Cart button Clicked");
		recentOrder = "";
		let itemId =$("#itemId").val();
		let na = $("#lableId").val();
		let pri = $("#priceId").val();
		let desc = $("#descId").val();
		let cath = $("{{name}}").value();
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		if (name == ""){
			console.log("Please enter an item name ")
		}
		myitem = {
			itemid : itemId,
			name: na,
			price: pr, 
			description : desc,
			cathegory : cath,
			csrfmiddlewaretoken: csrf

		}
		$.ajax({
				url: "{% url 'order-form' %}",
				method: "POST",
				data: myitem,
				success:function(data){

					$("form")[0].reset();
					x = data.item_data;

					console.log("Form Submitted successfully ")
					console.log(x)

					if (data.status == "Save"){
						output = ""
						console.log("Form Submitted successfully ")
						//$("#msg").text("Form Submitted successfully")
						//$("#msg").show();

			}
		},

		});
	});

	// create user account function 
	$("#editProfile").on("click", "#updateAcct", function(){
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		let ti = $("#tiId").val();
		let em = $("#emId").val();
		let fs = $("#fsId").val();
		let ls = $("#lsId").val();
		let ph1= $("#ph1Id").val();
		let ph2= $("#ph2Id").val();
		let tn = $("#tonId").val();
		let lm = $("#lmId").val();
		let sex= $("#seId").val();
		let apt= $("#apId").val();
		let agn= $("#agnId").val();
		let user= $("#userId").val();
		let bus= $("#busId").val();
		let client = $("#clcId").val();

		
		console.log("Save Update Button Clicked")
		console.log(user)

		/*
			condata = { 
				"csrfmiddlewaretoken": csrf,
			    "title": ti,
			    "first_name": fs,
			    "last_name": ls,
			    "email": em,
			    "phone1": ph1,
			    "phone2": ph2,
			    "town": tn,
			    "apartment_address": apt,
			    "land_mark": lm,
			    "client_code": client,
			    "sex": sex,
			    "user": user,
			    "agent_code": agn,
			    "bus_account": bus,
			}
		*/

		condata = { 
				csrfmiddlewaretoken: csrf,
			    title: ti,
			    first_name: fs,
			    last_name: ls,
			    email: em,
			    phone1: ph1,
			    phone2: ph2,
			    town: tn,
			    apartment_address: apt,
			    land_mark: lm,
			    client_code: client,
			    sex: sex,
			    userId: user,
			    agent_code: agn,
			    bus_account: bus,
			}

		$.ajax({
			url: "{% url 'update-client' %}",
			method: "POST",
			data: condata, 
			success: function(data){
				console.log(data);
			
		},

		});

		event.preventDefault();
	});

	$("#saveAcct").click(function(){
		console.log("Save Account button clicked");
		let ti = $("#titleId").val();
		let em = $("#emailId").val();
		let fs = $("#fstId").val();
		let ls = $("#lstId").val();
		let ph1= $("#ph1Id").val();
		let ph2= $("#ph2Id").val();
		let ld = $("#landId").val();
		let agc= $("#agnId").val();
		let sex= $("#sexId").val();
		//let csrf = $("input[name=csrfmiddlewaretoken]").val();
		if (ti == ""){
			console.log("Please enter a title")
		} else if (fs == ""){
			console.log("First Name is important")
		} else if (ls == ""){
			console.log("Enter last Name")
		} else {
			condata ={
				title:ti,
				first_name:fs,
				last_name:ls,
				email:em,
				phone1:ph1,
				phone2:ph2,
				land_mark:ld,
				agent_code:agc,
				sex:sex,
				csrfmiddlewaretoken: csrf 
			}
		};

		// sending data with AJAX 

	});
	// create And insert contact fuction 
	$("#btnsave").click(function(){
		console.log("Send Button Clicked");
		output = "";
		let conid = $("#messageId").val();
		let se = $("#senderId").val();
		let ph = $("#phoneId").val();
		let te = $("#textId").val();
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		console.log(conid);

		if (se == ""){
			console.log("Please enter a sender name")
		} else if (ph == ""){
			console.log("Please enter a valid phone number")
		} else if (te == ""){
			console.log("Please enter a message to send")
		} else {
			//console.log(se);
			//console.log(ph);
			//console.log(te);
			mydata = { 
				messageid:conid, 
				sender: se, 
				phone: ph, 
				text: te, 
				csrfmiddlewaretoken: csrf 
			}
			$.ajax({
				url: "{% url 'save' %}",
				method: "POST",
				data: mydata,
				success:function(data){
					x = data.contact_data;
					//console.log(data)
					if (data.status == "Save"){
						output = ""
						console.log("Form Submitted successfully ")
						$("#msg").text("Form Submitted successfully")
						$("#msg").show();

						console.log(x);
						//appendToContactTable(x);	
						for (i= 0; i < x.length; i++ ){
							output += "<tr><td>" + x[i].id + "</td><td>" + x[i].sender + "</td><td>" + x[i].phone + "</td><td>" + x[i].text + "</td><td><input type='button' name='edit' value='Edit' class='btn btn-warning btn-sm btn-edit' data-sid=" + x[i].id + "> <input type='button' name='delete' value='Delete' class='btn btn-danger btn-sm btn-del' data-sid=" + x[i].id + ">"	
						}
						$("#contactTable").html(output);
						$("#messageId").val("");
						$("form")[0].reset();
					}
					if (data.status == 0 ){
						console.log("unable to save form ")
						$("#msg").text("Unable to save data")
						$("#msg").show();
						$("#messageId").val("");
						$("form")[0].reset();
					}

				},

			});
		};
		event.preventDefault();
	
		// body...
	});


	// Delete Contact Function 
	$("#contactTable").on("click", ".btn-del", function(){
		console.log("Delete Button Clicked")
		let id = $(this).attr("data-sid");
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		//console.log(id);
		mydata = {sid:id, csrfmiddlewaretoken: csrf };
		mythis= this;
		$.ajax({
			url: "{% url 'delete' %}",
			method: "POST",
			data: mydata, 
			success: function(data){
				console.log(data);
				if (data.status == 1){
					//console.log("Data Deleted successfully");
					$("#msg").text("Data Deleted successfully")
					$("#msg").show();
					$(mythis).closest("tr").fadeOut();
				};
				if (data.status == 0){
					//console.log("Unable to delete data");
					$("#msg").text("Unable to delete data")
					$("#msg").show();
				};
			},
		});
	}); // end Delete contact Fuction 

	/**
	NOTE: 
	Do not forget to create a varable for csrf into the data dictionary 
	each time we are doing a CRUDE operation with Ajax and django 

	and also crate a varable of input and set to hidden in the template. 

	**/

	//Editing Contact Data 
	$("#contactTable").on("click", ".btn-edit", function(){
		console.log("Edit Button Clicked")
		let id = $(this).attr("data-sid");
		let csrf = $("input[name=csrfmiddlewaretoken]").val();
		//console.log(id);
		mydata = {sid:id, csrfmiddlewaretoken: csrf };	
		$.ajax({
			url: "{% url 'edit' %}",
			method: "POST",
			data: mydata, 
			success: function(data){
				//console.log(data);messageId
				$("#messageId").val(data.id);
				$("#senderId").val(data.sender);
				$("#phoneId").val(data.phone);
				$("#textId").val(data.text);
		},

		});
	});

	// End Editing Contact Data 




</script>


<!--- Case demo

<p>Click the button to display a dialog box which will ask for your favorite drink.</p>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
function myFunction() {
  var text;
  var favDrink = prompt("What's your favorite cocktail drink?", "Daiquiri");
  switch(favDrink) {
    case "Martini":
      text = "Excellent choice. Martini is good for your soul.";
      break;
    case "Daiquiri":
      text = "Daiquiri is my favorite too!";
      break;
    case "Cosmopolitan":
      text = "Really? Are you sure the Cosmopolitan is your favorite?";
      break;
    default:
      text = "I have never heard of that one..";
  }
  document.getElementById("demo").innerHTML = text;
}
</script>
---->