<div id="msg-box" class="overlay">
    <div class="overlay-box">
        <div class="content-block">
            <div class="row">
                <h2 class="title">Hey!</h2>
                <hr />
            </div>
            <div class="row">
                <p class="message"></p>
                <hr />
            </div>
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                    <button class="button2 btn btn-default">Cancel</button>
                </div>
                <div class="col-xs-4">
                    <div class="button1 btn btn-default">OK</div>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(function () {
    // Replace alert
    window.alert = function (message) {
        showDialog("Hey!", message, "OK", function()
        {
            closeDialog();
        });
    };
})


function showDialog(title, message, button1, button1Click, button2, button2Click)
{
    var msgBox = $('#msg-box'); 
    msgBox.find('p.message').html(message);
    msgBox.find('.title').html(title);
    if (button1)
    {
        msgBox.find('.button1').show();
        msgBox.find('.button1').html(button1);
        msgBox.find('.button1').off('click.dialog').on('click.dialog', button1Click);
    }
    else
    {
        msgBox.find('.button1').hide();
    }
    if (button2)
    {
        msgBox.find('.button2').show();
        msgBox.find('.button2').html(button2);
        msgBox.find('.button2').off('click.dialog').on('click.dialog', button2Click);
    }
    else
    {
        msgBox.find('.button2').hide();
    }
    showOverlay(msgBox);
}

function closeDialog()
{
    closeOverlay($("#msg-box"));
}

function showOverlay($overlay, html) {
    var box = $overlay.find('.overlay-box');
    if (html)
        box.html(html);
    $overlay.fadeIn(350);
}

function closeOverlay($overlay) {
    $overlay.fadeOut(350);
}
    





</script>