{% extends 'store/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <br>
  <div class="container"> 

 <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!--Card-->
          <div class="card">
            <h3>Palce Order</h3>
           
            <form method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <input class="btn btn-primary" type="submit" name="submit">
            </form>
            <!--Card content-->
            
          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!-- Heading -->
          <!--
              <h1> Order Summary </h1> 
            <div class="table-responsive text-nowrap">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Item Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order_item in item %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{order_item.item}}</td>

                    <td>{{order_item.item.price}}</td>
                    <td> <a href="{% url 'remove-single-item' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>{{order_item.quantity}}<a href="{% url 'add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a> </td>
                    {% if order_item.item.discount_price %}
                    <td>{{order_item.get_total_discount_item_price}}
                      <span class="badge bg-primary"> saving - N{{order_item.get_amount_save}}</span></td>
                    {% else %}
                    <td>{{order_item.get_total_item_price}} </td>
                    {% endif %}
                    <td>
                      <a style="color: red;" href="{% url 'remove-form-cart' order_item.item.slug %}"><i class="fas fa-trash float-right"></i></a>

                    </td>
                  </tr> 
                   
                  {% empty %}
                  <tr><td colspan="5"> Your Cart is Empty </td></tr>
                  {% endfor %}

                  <tr>
                    <td colspan="5"><b>Order Total </b> -<strong>N{{order.get_total}}</strong></td>
                  </tr>
                   <tr>
                    <td colspan="5"> 
                      <a class="btn btn-warning float-right" href="/cart/"> Proceed to checkout</a> 

                    </td>
                  </tr>
                
                </tbody>
              </table>

            </div>

  ------------------------------->

            <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in item %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'remove-single-item' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                ${{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
            {% else %}
                ${{ order_item.get_total_item_price }}
            {% endif %}
            <a style='color: red;' href="{% url 'remove-form-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
     
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href="{% url 'cart'%}">Proceed to checkout</a>
            </td>
        </tr>
        </tbody>
    </table>

    </div>










            </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

 
  </div>

{% endblock %}
