
<div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-md-5 pr-md-1">
              <div class="form-group">
                <label>Avalaible Balance </label>
                <input type="text" class="form-control" disabled="" id="balId" value="{{client.wallet_balance}}">
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" disabled="" value="{{ client.user.username }}" id="naId">
              </div>

            </div>
              <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label>User Code</label>
                <input type="text" class="form-control" disabled="" value="{{ client.client_code}}" >
              </div>
              
            </div>
          </div>

        <form method="POST" action="">
          {% csrf_token%}

           <div class="row">
            <div class="col-md-3 pr-md-1">
              <div class="form-group">
                <label>Tittle</label>
                {{form.title}} 
              </div>
            </div>
            <div class="col-md-5 px-md-1"> 
               <div class="form-group">
                <label>First Name</label>
                  {{form.first_name}}
             
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label>Last Name</label>
                {{form.last_name}}  
              </div>
            </div>
          </div>

          <hr>
           
           <h4 class="title" style="text-align: center;"> Personal / Contact Info </h4>
      
           <div class="row">
        
            <div class="col-md-3 pr-md-1">
              <div class="form-group">
                <label>Email Address</label>
                  {{form.email}} 
              </div>
            </div>
            <div class="col-md-5 px-md-1"> 
               <div class="form-group">
                <label>Mobile Number</label>
                  {{form.phone1}}
             
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label>Tellephone(optional)</label>
                 {{form.phone2}} 
              </div>
            </div>
          </div>


          <hr>
             <div class="row">
            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label>Town </label>
                  {{form.town}}       
              </div>
            </div>
            <div class="col-md-8 px-md-1">
              <div class="form-group">
                <label>Apartment AddreDelivery </label>
                {{form.apartment_address}}    
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label>Nearest bus stop  </label>
                 {{form.land_mark}}       
              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label>Sex </label>
                {{form.sex}}    
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label>Agent Code</label>
                {{form.agent_code}}
            
              </div>
            </div>
          </div>
         
          {{form.image}}

          <input class="btn btn-danger" type="submit" name="" value="Save data">
        </form>
      </div>

  </div>




  <!-- Edit Profile Form 
    <div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form method="POST" action="{% url 'update-client' %}" id="editProfile">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-5 pr-md-1">
              <div class="form-group">
                <label>Avalaible Balance </label>
                <input type="text" class="form-control" disabled="" id="balId" value="{{client.wallet_balance}}">
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" disabled="" value="{{ client.user.username }}" id="naId">
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">

                <label for="exampleInputEmail1">Email address</label>
                 {{form.email}}
                <input type="email" class="form-control" value="{{client.email}}" id="emId">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 pr-md-1">
              <div class="form-group">
                <label>Tittle</label>
                <input id="tiId" type="text" class="form-control" value="{{client.title}}">
              </div>
            </div>
            <div class="col-md-5 px-md-1"> 
               <div class="form-group">
                <label>First Name</label>
                <input id="fsId" type="text" class="form-control" value="{{client.first_name}}">
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" value="{{client.last_name}}" id="lsId">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Mobile Phone</label>
                <input type="text" name="agent_code" class="form-control" value="{{client.phone1}} " id="ph1Id">    
              </div>
            </div>
               <div class="col-md-4">
              <div class="form-group">
                <label>Alternate Number(optional)</label>
                <input type="text" name="agent_code" class="form-control" value="{{client.phone2}} " id="ph2Id">
              </div>
            </div> 
         
          </div>
         
          <div class="row">
            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label>Town </label>
                <input type="text" class="form-control" placeholder="City" value="{{client.town }}" id="tonId">
              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label>Nearest Bus Stop</label>
                <input type="text" class="form-control"  value="{{client.land_mark}}" id="lmId">
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label>Sex </label>
                <input type="tex" class="form-control" placeholder="Male/Female" value="{{client.sex}}" id="seId">
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Apartment Address</label>
                <input type="text" class="form-control" placeholder="Home Address" value="{{client.apartment_address }}" id="apId">
              </div>
            </div>
          </div>
            <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Agent Code(Optional)</label>
                <input type="text" name="agent_code" class="form-control" value="{{client.agent_code}} " id="agnId">    
              </div>
            </div>
               <div class="col-md-4">
              <div class="form-group">
                <label>Client Code</label>
                <input type="text" name="agent_code" class="form-control" value="{{client.client_code}} " id="clcId" disabled="">    
              </div>
               <div class="form-group" style="display: none;">
                <input type="text" name="agent_code" class="form-control " value="{{client.user.id}} " id="userId">   
                  <div class="form-group" style="display: none;">
                <input type="text" name="agent_code" class="form-control " value="{{client.bus_account}} " id="busId">    
              </div> 
              </div>
            </div> 
             <div class="col-md-8"> 
              <button type="submit" class="btn btn-primary" id="updateAcct">Save Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>----> 
