
<div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-md-5 pr-md-1">
              <div class="form-group">
                <label>Avalaible Balance </label>
                <input type="text" class="form-control" disabled="" id="balId" value="{{client.user.useraccount.wallet_balance}}">
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" disabled="" value="{{ client.user.username }}" id="naId">
              </div>

            </div>
              <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label>User Code</label>
                <input type="text" class="form-control" disabled="" value="{{ client.client_code}}" id="client_code_id">
              </div>
              
            </div>
          </div>

        <form method="POST" action="">
          {% csrf_token%}

           <div class="row">
            <div class="col-md-3 pr-md-1">
              <div class="form-group">
                <label>Tittle</label>
                {{form.title}} 
              </div>
            </div>
            <div class="col-md-5 px-md-1"> 
               <div class="form-group">
                <label>First Name</label>
                  {{form.first_name}}
             
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label>Last Name</label>
                {{form.last_name}}  
              </div>
            </div>
          </div>

          <hr>
           
           <h4 class="title" style="text-align: center;"> Personal / Contact Info </h4>
           <div class="row">
        
            <div class="col-md-3 pr-md-1">
              <div class="form-group">
                <label>Email Address</label>
                  {{form.email}} 
              </div>
            </div>
            <div class="col-md-5 px-md-1"> 
               <div class="form-group">
                <label>Mobile Number</label>
                  {{form.phone1}}
             
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label>Tellephone(optional)</label>
                 {{form.phone2}} 
              </div>
            </div>
          </div>


          <hr>
             <div class="row">
            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label>Town </label>
                  {{form.town}}       
              </div>
            </div>
            <div class="col-md-8 px-md-1">
              <div class="form-group">
                <label>Apartment /Delivery Address </label>
                {{form.apartment_address}}    
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label>Nearest bus stop  </label>
                 {{form.land_mark}}       
              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label>Sex </label>
                {{form.sex}}    
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label>Agent Code</label>
                {{form.agent_code}}
            
              </div>
            </div>
          </div>
         
          {{form.image}}

          <input class="btn btn-danger" type="submit" name="" value="Save data">
        </form>
      </div>

  </div>




 