{% extends 'dashboard/layouts/base.html' %}


{% block content %}


<form method="POST" enctype="multipart/form-data" id="">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-8">
			<p> with a trade account, you can trade and recieve payment on meklint</p>
			<h3> Updating {{sel.business_name}} </h3>
			
		</div>
		<div class="col">
			<button type="submit" class="btn btn-primary" id="">Update</button>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-sm-4">
			<label for="business_name"> Business Name</label>
			{{ form.business_name}}	
			<hr>
		
			<label for="description">Description</label>
			{{ form.description}}		
			
		</div>
		<div class="col-sm-4">	
			<label for="short_desc"> Business Address </label>
			{{ form.address}}
			<br>
			<label for="city "> City </label>
			{{form.town}}
			<br>
			<label for="tel_one"> Mobile </label>
				{{form.tel_one}}
			<label for="tel_two"> Telephone </label>
			{{form.tel_two}}

		</div>
		<div class="col-sm">
			<p> business type </p>
			<label for="goods">{{ form.goods}} Goods </label>
			<br>
			<label for="services"> {{ form.services}} Services </label>
			<br>
			<label for="fast_food"> {{ form.fast_food}} Fast Food </label>
			<br>
			<label for="skill"> {{ form.skill}} Skill</label> 
			<hr>
			<p> Control</p>
			<label for="active"> Make Live </label>
			{{form.active}}
			<p> Business Cover images </p>
			{{ form.image}}
		
		</div>
</form>	


{% endblock content %}