
{% extends "dashboard/layouts/base.html" %}


{% block title %} User Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <!-- DataTable--->
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />

{% endblock stylesheets %}

{% block content %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
       {{message }} 
        <button type="button" class="btn-close btn-infor" data-bs-dismiss="alert" aria-label="Close"> Close</button>
        </div>   
      {% endfor %}
    {% endif %}
    
    {% include 'dashboard/includes/order_detail_snippet.html' %}
    <div class="row">
      <div class="col-lg-12 col-md-12">
         {% include 'dashboard/includes/order_table_snippet.html' %}
        
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script >

  var endpoint = '/api/data/'

  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data) {
      console.log(data)
    }, 
    error: function(error_data) {
      console.log("error")
      console.log(error_data)
    },

  })

    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
     // demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
