
{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Add Product {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="row">
		<div class="col-md-8">
			<h1> Products </h1>
			<p> You have {{products.count}} products in store </p>
			
		</div>
		<div class="col">
            <input type="text" name="code" value="{{user_code.client_code}}" id="sel_codeid" style="display:none;">
              
			<a href="{% url 'store:product' %}" class="btn" id="add_product_btn">Add Product</a>
            <div class="nav-item">
                  <ul>
                <li>
                    <a href="{% url 'edit-trader' user_code.client_code %}" class="nav-link" id="bus-details-btn">Business Details</a> 
                    
                </li>
                <li>
                    <a href="#" class="nav-link" id="bus-feature-btn">Add Features</a> 
                    
                </li>
            </ul>
                
            </div>


	
		</div>
	</div>

	<hr>

	   <div class="container">

    <table class="table table-responsive">
        <thead>
        <tr>
            <th scope="col-sm">#</th>
            <th scope="col-sm">Img</th>
            <th scope="col-sm">Title</th>
            <th scope="col-sm">Price</th>
            <th scope="col-sm">Disc. Price </th>
            <th scope="col-sm">Category</th>
            <th scope="col-sm">Tag </th>
            <th scope="col-sm">Lable</th>
            <th scope="col-sm">Status</th>
            <th scope="col-sm">Action</th>
        </tr>
        </thead>
        <tbody>
        	{% for item in products %}
        <tr>
        	<td>{{ forloop.counter }}</td>
            <td scope="row">
           <!--- {{ forloop.counter }}--->
            {% if item.image %}
                <img src="{{ item.image.url }}" style="height: 60px; width: 80px;">
                {% else %}
                 <img src="..." class="card-img-top">
                {% endif %}
            </td>
            <td>
                {% if item.active == True %}
                <a href="{% url 'store:product' item.slug %}">
                <strong>{{ item.title }}</strong>
                </a>
                {% else %}
                 {{ item.title }} | <span class="badge"> not selling</span>

                 {% endif %} <br>
                 <a href="{% url 'store:delete-product' item.id %}" style="color:grey;">Delet</a>
            </td>
            <td> &#8358; {{item.price }}</td>
            <td> &#8358; {{item.discount_price }}</td>
            <td> {{item.category }} </td>
            <td> {{item.tag }} </td>
            <td> {{item.label }} </td>
            <td> {{item.status }} </td>
            <td> <a href="{% url 'store:update-product' item.id %}" class="btn" id="product_update_btn"> Edit</a> </td>
        </tr>
        {% endfor %}
       
        </tbody>
    </table>
    </div>
 {% block javascripts %}
  {% include 'testajax.html'%}

  <script >
      $("#add_product_btn").click(function(){
        console.log("add product buton clicked")  
        $("#vendorId").val(owner);
       
      })

  </script>



 {% endblock javascripts %}
		

{% endblock %}








