 <div class="col-md-4" id="profile-card">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              {% if client.image %}
              <img class="avatar" src="{{ client.image.url }}" alt="...">

              {% else %}
                <img  class="avatar" src="/static/dash/assets/img/avatar.png" class="card-img-top" alt="{{ client.title }}">   
              {% endif %}
              <h4> Bal: N {{wallet}}</h4>           
                <h5 class="title">
                  {% if client.title %}
               {{client.title}}.  {{client.first_name}} {{client.last_name}}
                {% else %}
                <h5> User: {{client.user}}</h5>
              {% endif %}
               </h5>
            </a>

            {% if client.email %}
            <p class="description">
             {{client.email}}
            </p>
              {% endif %}
          </div>
        </p>
       
        <div class="card-description">
          {% if client.phone1 %}
          <strong>Phone 1 :</strong> {{client.phone1 }} <hr>
          Phone 2 : {{client.phone2 }}  <hr>
        {% endif %}
        {% if client.town %}
          <b>Town :</b> {{client.town }} <hr>
          <b>Land mark: </b> {{client.land_mark}}
          <hr>
          <b>Address : </b>{{client.apartment_address}}
          <hr>
          {% endif %}

        </div>
      </div>
      <div class="card-footer">
        <a href="{% url 'edit-account' client.client_code %}" class="card-link">Edit Details</a>  | <b>Code: {{client.client_code}}</b>
        <div class="button-container">
        
        </div>
      </div>
    </div>
  </div>


