



{% extends 'dashboard/layouts/base.html' %}
{% load static %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col"></div>
  <div class="col-md-8">
    <div class="">
      <div class="row">
        <div class="col"></div>
        <h4 class="col" style="color:grey;">Transaction History </h4>
        {% if topup %}
         <a class="btn " onclick="demo.showNotification('top','right')"> Pay</a>
        {% endif %}


      </div>
      <div class="card-body">
        
        {% for obj in trans %}
        {% if obj.transaction_type == 'T' %}

        <div class="alert  alert-with-icon card " data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
           <h5><i class="tim-icons icon-simple-remove"></i></h5> 
          </button>
          <h5><span data-notify="icon" class="tim-icons icon-bell-55"></span></h5>

          {% if obj.status == 'Debited' %}
          <h5><strong>{{ obj.note }}  - &#8358; {{obj.amount}}</strong></h5>
                    
                        {% elif obj.status == 'Pending' %}
                          <h5><strong>{{ obj.note }}  &#8358; {{obj.amount}} <input type="button" name="action" data-sid="{{obj.id}}" value="Action" class="btn btn-warning btn-sm btn-edit">
                          </strong> </h5>
                          {% else %}
                            <h5><strong>{{ obj.note }}  &#8358; {{obj.amount}}  </strong> </h5>
                        {% endif %}

          <p><strong>Status: {{obj.status}} </strong>| Time: {{obj.time}}  | Type: {{obj.transaction_type}}  | Ref: {{obj.ref_code}}</p>
        </div>
        
        {% else %}
          <div class="alert alert-info alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-bell-55"></span>

          {% if obj.status == 'Debited' %}
           <span data-notify="message">{{ obj.note }}  - &#8358; {{obj.amount}}</span>
              {% else %}
               <span data-notify="message">{{ obj.note }}  &#8358; {{obj.amount}}</span>
                 {% endif %}

          <p><strong>Status: {{obj.status}} </strong>| Time: {{obj.time}} | Type: {{obj.transaction_type}}  | Ref: {{obj.ref_code}} </p>
        </div>     

        {% endif %}

        {% empty %}
       <h5> Your Transactions appear Here</h5>

        {% endfor %}

      </div>
    </div>
  </div>
  <div class="col"></div>


</div>

 {% block javascripts %}
 {% include 'testajax.html'%}

 {% endblock javascripts %}
        

{% endblock %}






































