
{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Add Product {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <div class="">
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
  {% endif %}
  </div>
	
	<div id="update_pro_msg" class="alert alert-success " style="display: none;">

	</div> 

<hr>

<form method="POST" enctype="multipart/form-data" action="">
	{% csrf_token %}
	<input type="number" name="{{product}}" id="proId" value="{{product.id}}" style="display:none;">
	<div class="row">
		<div class="col-md-8">
			<h4> Editing  {{ product.title }} </h4>
			
		</div>
		<div class="col">
			<button type="submit" class="btn btn-primary" id="pro_update_btn">Update </button>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-sm-4">
			<label> Produt / Service Title</label>
			{{ form.title}}
			<br>
			<label for="price"> Price</label>
			{{ form.price}}
			<br>
			<label for="discount_price">Discount Price (Optional)</label>
			{{ form.discount_price}}
			
			<br>
			<label for="cost_price"> Market Price(Optional)</label>
			{{ form.cost_price}}				
		</div>
		<div class="col-sm-4">
			
			<label for="short_desc"> Short Description</label>
			{{ form.short_desc}}

			<br>
			<label for="description">Description</label>
			{{ form.description}}
			
			<hr>

		</div>
		<div class="col-sm">
			<p> Product Features </p>
			<label> Product status </label>
			<p>{{ form.status}}</p> 

			<label> Product category </label>
			<p>{{ form.category}}</p>

			<label> product Tag </label>
			<p>{{ form.tag}}</p> 

			<br>
			<label >Choose label</label> <br>
			{{ form.label}} 
			<hr>

			<p> Is this a Unit of a product/service ? </p>	
			{{form.unit}}
			<label for="unit">Yes</label> 
		
			 <p>Publish product live? </p> 
			 {{form.active}} 
			 <label for="active">Yes</label>
			 <hr>
		</div>
</form>	



 {% block javascripts %}

  {% include 'testajax.html' %}


 {% endblock javascripts %}
		

{% endblock %}








