

 				<div class="card mb-4">
		            <div class="card-header">
		                <i class="fas fa-table mr-1"></i>
		                DataTable Example
		            </div>
		            <div class="card-body">
		                <div class="table-responsive">
		                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		                        <thead>
		                             <tr>
		                                <th>Customer Name</th>
		                                <th>Item Ordered</th>
		                                <th>Shippin Address</th>
		                                <th>Orderd Date</th>
		                                <th>Statues</th>
		                                <th>Transaction Id</th>
		                                <th>Order Total</th>
		                            </tr>
		                        </thead>
		                        <tfoot>
		                            <tr>
		                                <th>Customer Name</th>
		                                <th>Item Ordered</th>
		                                <th>Shippin Address</th>
		                                <th>Orderd Date</th>
		                                <th>Statues</th>
		                                <th>Order Total</th>
		                            </tr>
		                        </tfoot>
		                        <tbody>
				                    {% for order in orders %}
								    <tr>
								      <td>{{order.shipping_address.client_name}}</td>
								      <td>{{order.item}}</td>
								      <td>{{order.shipping_address}}</td>
								      <td>{{order.date_created}}</td>
								      <td>{{order.status}}</td>
								      <td>{{order.ref_code}}</td>
								      <td>{{order.amount}}</td>
							    	{% endfor %}
		                        </tbody>
		                    </table>
		                </div>
		            </div>
		        </div>