{% extends 'user_account/user_base.html' %}


{% block content %}

            <!--- SideBar Content---->   
            <div id="layoutSidenav_content">
                <main>
                    <div class="">
                      {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                         {{message }} 
                          <button type="button" class="btn-close btn-infor" data-bs-dismiss="alert" aria-label="Close"> Close</button>
                          </div>   
                        {% endfor %}
                      {% endif %}
                      </div>
                    <div class="container-fluid">
                        <h1 class="mt-4">User Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                           <li class="breadcrumb-item active"><a class="btn btn-warning" href="{% url 'order-form' %}">Create New Order </a></li>
                           
                            <li class="breadcrumb-item active"><a class="btn btn-light" data-mdb-ripple-color="dark" href="{% url 'add-client' %}"> Add New Client

                            </a>

                          </li>
                            <li class="breadcrumb-item active"><a class="btn btn-light" data-mdb-ripple-color="dark" href="{% url 'add-vendor' %}">Add Vendor </a></li>
                             <li class="breadcrumb-item active"><a class="btn btn-light" data-mdb-ripple-color="dark" href="{% url 'add-agent' %}">Add Agent </a></li>

                              <li class="breadcrumb-item active"><a class="btn btn-dark" data-mdb-ripple-color="dark" href="#">Register Store product </a></li>
                          
                            
                          
                        </ol>
                        {% include "user_account/order_detail_snippet.html" %}
                      
                          {% include "user_account/order_table_snippet.html" %}

                    </div>
                </main>

                {% include "user_account/footer_snippet.html" %}
             
            </div>

{% endblock %}