{% extends 'base.html' %}

{% block content %}

		<div class="container"> 
			<hr>
			<div class="row">
				{% include 'user_account/user_card_details_snippet.html'%}
			<!------ end left Grid---->	 
				<!------ Start Middle card ---->	
				{% include 'user_account/client_order_details_snippet.html'%}
				<!--- End middle Grid --->

				<!--- start right Grid --->
				{% include 'user_account/clients_order_counts.snippets.html' %}
			<!--- End right Grid --->
			</div>	
		</div>	
	

{% endblock %}



