{% extends "dashboard/layouts/base.html" %}
{% load static %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
       {{message }} 
        <button type="button" class="btn-close btn-infor" data-bs-dismiss="alert" aria-label="Close"> Close</button>
        </div>   
      {% endfor %}
    {% endif %}
    <div class="" style="text-align: center"><h3>Register New Agent</h3> </div>
  
      <div class="row align-items-center">
	     {% include 'user_account/confirm_code.html'%}
	    <form class="row" method="POST">
	     	{% csrf_token %}
	     	<input name="clientId" style="display:none" type="text" id="clientId" value="{{client.id}}">
		    <div class="col">
			    <h6>Location Info:</h6>
	         	<div class="custom-control">
	         	<label for="zone"> Zone </label>
	         	{{form.zone}} 
	         	</div>
	         	<div class="d-block my-3">
	    			<h6> Agent Type:</h6>
	           		{% for value, name in form.fields.agent_type.choices %}
	               <div class="custom-control custom-radio">
	                  <input id="{{name}}" name="agent_type" value="{{value}}" type="radio" class="custom-control-input" 
	                  checked required>
	                  <label class="custom-control-label" for="{{name}}">{{ name }}</label>
	               </div>
	             	{% endfor %}  
		       	</div>
		    </div>
		    <div class="col">
			    <h6>Delivery Agent Only</h6>
	         	<div class="custom-control custom-checkbox">
	                {{form.bike}}
	                <label for="skill" >Do you have a bike? </label>
	            </div> 
	            <div class="custom-control custom-checkbox">
	                {{form.keke}}
	               <label for="skill" >Do you drive keke? </label>
	            </div> 
	            <div class="custom-control custom-checkbox">
	              {{form.car}}
	            	<label for="skill" >Do you own a car? </label>
	            </div>  
	            <button class="btn btn-primary btn-block" type="submit">Register Agent </button>       
				</div>
	  
	    </form>
	  </div> 

 {% block javascripts %}
 {% include 'testajax.html'%}

 {% endblock javascripts %}
 
{% endblock %}
