	 
	 <div class="col-md-4">   
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Personal Details</span>
          </h4>

		 <form class="card p-2" method="POST" action="">
			{% csrf_token %}
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Enter User Code" name="code" >
		      <div class="input-group-append">
		      	<input class="btn btn-secondary btn-md waves-effect m-0"type="submit" name="submit" value="Confirm Code " >
		      </div>
		    </div>
		  </form>
 <!-- Agent Details  -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <span class="text-muted"> Full Name: {{client.full_name}}</span>
                <hr>
                <small class="text-muted"> Email : {{client.email}} </small>
                <hr>
                <h6 class="my-0"> Contact </h6>
                <br>
                <small class="text-muted"> Phone : {{client.phone1 }} </small>
                <br>
                <small class="text-muted"> Town : {{client.town }} </small>
                <br>
                <small class="text-muted"> Address : {{client.address }} </small>
               
              </div>
            </li>  
            <li class="list-group-item d-flex justify-content-between">
              <span>Client Code: </span>
              <strong>{{client.client_code}}</strong>
              <span>Agent Code: </span>
              <strong>{{Agent.agent_code}}</strong>
            </li>
          </ul>
        
        </div>

      