 <!-----
                    <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Place Orders </div>
                                    <h4 style="text-align: center;">{{total_order}}</h4>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Out for delivery</div>
                                    <h4 style="text-align: center;">{{out_delivery}}</h4>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Total Delivered</div>
                                    <h4 style="text-align: center;">{{delivered}}</h4>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Pending Delivery</div>
                                    <h4 style="text-align: center;">{{pending}}</h4>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                    </div>

--->


<div class="row">
      <div class="col"> 
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Total Orders</h5>
            <h2 class="card-title" style="text-align:  center;">
              <i class="tim-icons icon-check-2 text-primary"></i>{{total_order}}</h2>
          </div>
          <div class="card-body">   
          </div>
        </div>
      </div>
       <div class="col"> 
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Total Delivered</h5>
            <h2 class="card-title" style="text-align:  center;">
              <i class="tim-icons icon-check-2 text-primary"></i>{{delivered}}</h2>
          </div>
          <div class="card-body">   
          </div>
        </div>
      </div>
        <div class="col"> 
          <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Pending Orders</h5>
            <h2 class="card-title" style="text-align:  center;"><i class="tim-icons icon-pin text-primary"></i> {{pending}}</h2>
          </div>
            <div class="card-body"> 
            </div>
          </div>
        </div>

        <div class="col"> 
          <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Out for Delivery</h5>
            <h3 class="card-title" style="text-align:  center;"><i class="tim-icons icon-delivery-fast text-primary"></i> {{out_delivery}}</h3>
          </div>
          <div class="card-body">        
          </div>
          </div>
        </div>  
</div>