				<div class="col">
					<!----- Left Card --->
			    	<div class="card card-user" style="width: 20rem;">
			    		
			    		<div class="author">
			    			
				            {% if client.image %}
			    			 <img  class="avatar" src="{{ client.image.url }}" class="card-img-top" alt="{{ client.title }}">

			    			  {% else %}
             		
			            <img  class="avatar" src="/static/dash/assets/img/avatar.png" class="card-img-top" alt="{{ client.title }}">  
					  {% endif %}
			    		</div>
					
					 
					  <div class="">
					    <h5 class="card-title">{{client.title}} {{client.full_name}}</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
					  <ul class="list-group list-group-flush">
					    <li class="list-group-item"><b>Tel:</b> {{client.phone1}} | {{client.phone2}} </li>
					    <li class="list-group-item"><b>Town: </b> {{client.town}}</li>
					    <li class="list-group-item"><b>Email: </b> {{client.email}}</li>
					  </ul>
					   <ul class="list-group list-group-flush">
					    <li class="list-group-item"><b>Address: </b> {{client.apartment_address}}</li>
					    <li class="list-group-item"><b>Land Mark: </b> {{client.land_mark}}</li>
					  </ul>
					  <div class="">
					    <a href="#" class="card-link">Edit Details</a>  | <b>Code: {{client.client_code}}</b>
					  </div>
					</div>	
				</div>