				<div class="col">
					<!----- Left Card --->
			    	<div class="card" style="width: 20rem;">
			    		{% if client.image %}
					  <img style="height: 200px; width: 200px; border-radius: 50px; padding:25px;" src="{{ client.image.url }}" class="card-img-top" alt="{{ client.title }}">
					  {% else %}
             			<span class="text-muted">No profile pics </span>
			             <form method="POST" action="{% url 'my-account' client.client_code %}">
			             	{% csrf_token %}
			                <input type="file" name="file" value="upload">
			                  
		            	</form>  
					  {% endif %}
					  <div class="card-body">
					    <h5 class="card-title">{{client.title}} {{client.full_name}}</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
					  <ul class="list-group list-group-flush">
					    <li class="list-group-item"><b>Tel:</b> {{client.phone1}} | {{client.phone2}} </li>
					    <li class="list-group-item"><b>Town: </b> {{client.town}}</li>
					    <li class="list-group-item"><b>Email: </b> {{client.email}}</li>
					  </ul>
					   <ul class="list-group list-group-flush">
					    <li class="list-group-item"><b>Address: </b> {{client.apartment_address}}</li>
					    <li class="list-group-item"><b>Land Mark: </b> {{client.land_mark}}</li>
					  </ul>
					  <div class="card-body">
					    <a href="#" class="card-link">Edit Details</a>  | <b>Code: {{client.client_code}}</b>
					  </div>
					</div>	
				</div>