
        <div class="col-md-4 mb-4">
          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Update Order</span>
            <span class="badge badge-secondary badge-pill"></span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0"></h6>
                <small class="text-muted"></small>
              </div> 
              <span class="text-muted"></span>
            </li>
           {% if coupon.code %}
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>{{orders.coupon.code}}</small>
              </div>
              <span class="text-success"> - NGN {{orders.coupon.amount}}</span>
            </li>
            {% endif %}
            <li class="list-group-item d-flex justify-content-between">
              <p> Time created: </p>
              <span>{{orders.date_created}}</span>
              <strong>$202</strong>
            </li>
          </ul>
          <!-- Cart -->
          <!-- Promo code -->
          <form class="card p-2" method="POST">
            {% csrf_token %}
            <div class="list-group-item d-flex justify-content-between"> 
              {{form.agent}}
              <strong> Agent </strong>
            </div>
              <div class="list-group-item "> 
               {{form.vendor}} 
               <strong> Vendor </strong>
             </div>
              <div style="display: none;" class="hidden" id="hidden" name="update-card">    
                    {{form.customer}} 
                    {{form.status}}
                    {{form.ref_code}}
                    {{form.client}}     
                    {{form.refund_requested}} 
                    {{form.is_ordered}} 
                    {{form.coupon}}   
                    {{form.amount}} 
                    {{form.item}} 
                    {{form.delivery_cost}} 
                    {{form.shipping_address}}
              </div>
            <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Update Order</button>
            </div>
          </form>
          <!-- Promo code -->
        </div>