
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*---- yello---*/
  --first-image: url("assets/img/man_yellow.png");

  /*========== Colors ==========*/


  --first-color: #DA2535;
  --title-color: #161212;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;


  --body-color: #FEFBFB;
  --body-second-color: #FEFBFB;
  --container-color: #FFF;
 
 

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

body{
  background-color: white;
}



/* ======== Top Section =====*/


.banner{
    background-color:#6C1719;
    color: white;
    height:50px;
}

.opening__time{
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: var(--mb-2);
}


/* ======== Left  Section =====*/
.left-side{
  background-color: #6C1719;
  width: 90px;
  left: 0px;
  top: 70px;
  border-radius: 0px;


}


/* ======== Right Section =====*/
.right-side{
  background-color: #6C1719;

  width: 90px;
  left: 1370px;
  top: 70px;
  border-radius: 0px;

}


/* ======== Middle section =====*/
/*==== Nav ======*/

.form-search{
  width: 462px;
  height: 40px;
  margin-top: 10px;
  margin-left: 50px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 20px;

}

.search-btn{
  height: 40px;
  left: 892px;
  top: 92px;
  background: #6C1719;
  border-radius: 20px;
  color: white;

}
.search-btn:hover{
  color: grey;

}

.nav-log-link{
   margin-left: 50px;
}
/*===== End Nav section =====*/





.main_sec {
  margin-top: 30px; 
  background-color: red;
  border-radius: 10px;

}


/*===== Category Section ======*/

.category{
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #4C4C4C;
}

.border{
  width: 108px;  
  border: 0.7px solid #666666;
  margin-bottom: 10px;

}


.t-space{
  margin-top: 10px;
}

.cat-item-head{
  font-size: 14px;
  margin-left:  10px ;
  color: black;
}

.cat-item-head:hover{
  font-weight: bold;

}
.cat-img{
  width: 30px;
  height: 14.3px;

}
a:hover{
  color: #6C1719;
  font-weight: bold;
}


a {
    color: #6C1719;
}

.item-bk {
  background-color: #FFFFE7;

}


/*===== info section=====*/
.card-title{
  color: #6C1719;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}


.card-sub-title{
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.card-text{
  margin-left: 10px;
  margin-right:  10px;
  color: #6C1719; 
  text-align: center;
  padding-bottom: 10px;
}
/*===== info section end =====*/


/*========= Footer Section =====*/


.shop-footer{
    position: absolute;
    width: 100%;
    height: 234px;
    left: 0px;

    background-color:linear-gradient(106.24deg, #EEE0CA -0.66%, #F9F3EA 96.85%);

}






.footer_container{
height: 350px;
left: 0px;

padding-left: 100px;
padding-top: 50px;

background: linear-gradient(106.24deg, #EEE0CA -0.66%, #F9F3EA 96.85%);

}

.f_title{
    left: 216px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;

    color: #4C4C4C;

}
.f_mail{
    margin-top: 20px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 21px;
}

.f_link{

color: #666666;

}
.f_link:hover{
    color: #6C1719;
    font-weight: bold;

}
.f_social{
    left: 1228.92px;
}
.copy_write{

height: 32px;
left: 610px;
margin-top: 45px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #666666;

}


.cart-img {
  width: 80px;
  height: 80px;

}

@media screen and (max-width: 768px){
    .footer_container{
    height: 600px;
    padding-top: 50px;
    padding-left: 30px;

    }
    .opening__time{
        font-size: 14px;
    }

    .left-side, .right-side{
      display: none;
    }
    .form-search{
      width: 200px;
      margin-left: 0;

    }

}

