<div class="sidebar " >
      <div class="sidebar-wrapper " >
        <div class="logo white-content" >
           <a target="_blank" 
             href="#" class="simple-text logo-normal" style="color:black;">
           Browse Category
          </a>

        </div>
        <ul class="nav">
          <li class="">
            <a href="">   
              <i class="tim-icons icon-chart-pie-36"></i>
              <p> Continental</p>
            </a>
          </li>
          <li class="">
            <a href="">   
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Africa Dishes</p>
            </a>
          </li>
          <li class="">
            <a href="">   
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Swallow</p>
            </a>
          </li>
          <li class="">
            <a href="">   
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Fresh Fish</p>
            </a>
          </li>                
        </ul> 
      </div>
    </div>


