


{% load static %}

 <footer class="">
 	<div class="container-fluid">
 		<div class="row container">
 		<div class="col-sm">
 			
 		 <h3 class="f_title">Mekly Ltd.</h3>
 			<p class="f_tagline" >Saving you from stress <br> providing happiness</p>
 			<p class="f_mail"> <i class="fas fa-envelope-open-text"> </i> mail@meklint.com </p>
 		</div>
 		<div class="col-sm">
 			 <h3 class="f_title">Our services </h3>
 			<ul>
 				<li> <a href="#" class="f_link"> Procurement(go market) </a></li>
 				<li><a href="#" class="f_link"> Domestic Services </a></li>
 				<li><a href="#" class="f_link"> Logistics (Delivery) </a> </li>
        <li><a href="#" class="f_link">Warehousing </a> </li>
 				

 			</ul>
 		</div>
 		<div class="col-sm">
 			 <h3 class="f_title"> Our Company </h3>
 			  <ul>    <li><a href="#" class="f_link">About us</a></li>
                <li><a href="#" class="f_link">Our vision</a></li>
                <li><a href="#" class="f_link">Our mision</a></li>
            </ul>

 		</div>
 		<div class="col-sm">
 			<h3 class="f_title">Follow Us</h3>

 			<h3> 
 				<a href="https://facebook.com/meklints"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> 
 				<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
 				<a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>

 				 </h3>
 					
		
 		</div>
 	</div>
 	<hr>
 	

 	</div>
 	

  </footer>


  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">

        	 <p class="f__copy">&#169;Mekly Integrated Services Ltd  
              </p>
                <p class="text-center">  &#174; RC - 1 7 6 8 1 0 0 </p>
        
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank" 
                  href="#">Apex Potentials </a>
         - coded by <a target="_blank" href="#">Aptechub</a>.
      </div>
    </div>
  </footer>

