<!-- Static assets -->
{% load static %}
{% load cart_template_tags %}
      <!-- Navbar -->
      <nav class="navbar sticky-top navbar-expand-lg navbar-absolute navbar-transparent ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
           <!-- <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>-->
             <a class="navbar-brand" href="{% url 'store:home' %}">
              <img  src="{% static 'dash/assets/img/mek_logo.png' %}" alt="" style="width:150px;" >
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>

          <div class="collapse navbar-collapse" id="navigation">

            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="{% url 'store:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'store:fastfood' %}">Food</a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link" href="{% url 'store:services' %}">Services </a>
                </li>
                 <li class="nav-item ">
                  <a class="nav-link" href="{% url 'store:logistics' %}">  Logistics </a>
                </li>

              <li class="search-bar input-group">




                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" style="color:black;"></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>

            <li class="nav-item">
            <a class="nav-link " href="{% url 'store:order-summary' %}">
              <span class="badge badge-default">Cart | {{ request.user|cart_item_count }} </span>
            
            </a>
          </li>

              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block" style="color:black">
                    
    
                    {{ request.user|trans_item_count }} </div>
               
                   <i class="tim-icons icon-sound-wave" style="color:black;"></i>
                  <p class="d-lg-none">
                    {{ request.user|trans_item_count }} Pending Transactions 
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                
                  {% if trans %}
                  {% for item in trans %}

                  <li class="nav-link"><a href="{% url 'store:check-ref' item.ref_code %}" class="nav-item dropdown-item"> &#8358; {{item.amount }} {{item.transaction_type}} Transaction {{item.status}} </a></li>

                  {% endfor %}

                  {% else %} 

                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">you have no recent transaction </a></li>

                  {% endif %}

                </ul>
              </li>
               <li class="nav-item card" >
                  <a class="nav-link" aria-current="page" href="{% url 'wallet' user.userprofile.client_code %}"> <i class="fab fa-cc-mastercard"></i></a>
                </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" style="color:black;">
                  <div class="photo">
                   {% if request.user.userprofile.image %}
      
                  <img class="avatar" src="{{ request.user.userprofile.image.url }}" alt="Profile Photo">
                     {% else %}
                     <img class="avatar" src="/static/dash/assets/img/avatar.png" alt="Profile Photo">
                        {% endif %}
                    
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="{% url 'my-account' request.user.userprofile.client_code %}" class="nav-item dropdown-item">Profile</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="{% url 'logout' %}" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>

              <li class="separator d-lg-none"></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="{% url 'store:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'store:fastfood' %}">Food</a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link" href="{% url 'store:services' %}">Services </a>
                </li>
                 <li class="nav-item ">
                  <a class="nav-link" href="{% url 'store:logistics' %}">  Logistics </a>
                </li>
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" style="color:black;"></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>


              <li class="nav-item nav-log-link">
            <a href="{% url 'login' %}" class="nav-link border "
              target="_blank">
              <i class="fas fa-user-circle mr-2"></i> Account
            </a>
          </li> 
              <li class="separator d-lg-none"></li>
            </ul>


            {% endif %}

          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <form class="modal-header" method="GET" action="{% url 'store:search' %}" >
              <input type="search" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH" name="query">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </form>

          </div>
        </div>
      </div>
      <!-- End Navbar -->



