{% if user.is_authenticated and request.user.is_superuser or user.is_authenticated and request.user == client.user %}
<div class="row">
      <div class="col-sm-6 col-lg-4"> 
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Total Balance </h5>
            <h2 class="card-title" style="text-align:  center;" id="tbal">
              <i class="tim-icons icon-wallet-43 text-primary"></i>
              &#8358; {{client.user.useraccount.wallet_balance}}
         
            </h2>
          </div>
          <div class="card-body">   
          </div>
        </div>
      </div>
        <div class="col-sm-6 col-lg-4"> 
          <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Flex Balance </h5>
            <h2 class="card-title" style="text-align:  center;"><i class="tim-icons icon-money-coins text-primary"></i> &#8358; {{client.user.useraccount.flex_balance}} </h2>
          </div>
            <div class="card-body"> 
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4"> 
          <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category"> Savings Balanc </h5>
            <h3 class="card-title" style="text-align:  center;" id="sbal"><i class="tim-icons  icon-lock-circle text-primary"></i> &#8358; {{client.user.useraccount.sav_balance}}</h3>
          </div>
          <div class="card-body">        
          </div>
          </div>
        </div>  
</div>

<!---- Button Cards---->


<div class="row">

  <div class="col-md" id="tpForm-card" style="display: none;">
    <form method="POST" action="" id="tpForm">
      {% csrf_token %}
      <h4> Enter Top up amount </h4>
      {{tform.amount}}
      <br>
      <p>Select your payment option </p>
      <div class="d-block my-3">
        {% for value, name in tform.fields.payment_type.choices %}
        <div class="custom-control custom-radio">
          <input id="{{ name }}" name="payment_type" value="{{ value }}" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
        </div>
        {% endfor %}
      </div>
      <input type="submit" name="submit" class="btn btn-primary" value="Proceed" id="Top-proceed">     
    </form>
  </div>

      <div class="col-md" id="tpCard"> 
        <div id="tdmsg" class="alert alert-danger" style="display: none;"></div>
        <div id="tpmsg" class="alert alert-primary" style="display: none;"></div>
        <div id="tsmsg" class="alert alert-success" style="display: none;"></div>
      <a href="#" id="top-up">
        <div class="card card-chart btn-primary ">
          <div class="card-header">
            <h5 class="card-category">Top Up  </h5>
            <h2 class="card-title" style="text-align:  center;">
              <i class="tim-icons icon-coins text-primary"></i>

              Top Up 
         
            </h2>
          </div>
          <div class="card-body">   
          </div>
        </div>
        </a>
      </div>
      <!-- Witdrawal card--->

        <!-- Witdrawal card form--->
         <form method="POST" action="" class="col-md" id="dform" style=" display: none;">
          <input name="accUserId" style="display:none" type="text" id="accUserId" value="{{bank.id}}">
          {% csrf_token %}
          <h3> Confirm Cashout </h3>
            {{wform}}
            <input type="submit" value="Confirm Request" class="btn" id="btnwit">
      
          </form>

        <div class="col-md" id="draw">
          <!-- witdrawal message--->
           <div id="wdmsg" class="alert alert-danger" style="display: none;"></div>
           <div id="wpmsg" class="alert alert-primary" style="display: none;"></div>
           <div id="wsmsg" class="alert alert-success" style="display: none;"></div>
           <!-- end witdrawal message --->
          <a href="#" id="wit-draw">
          <div class="card card-chart btn-danger">
          <div class="card-header">
            <h5 class="card-category">Withdrawal </h5>
            <h2 class="card-title" style="text-align:  center;"><i class="tim-icons icon-simple-delete text-primary"></i> Withdraw </h2>
          </div>
            <div class="card-body"> 
            </div>
          </div>

          </a>

        </div>
        <!--- Confirm Account Number--->
        <form method="POST" action="" class="col-md" id="accnform" style=" display: none;">
          <div id="cfimsg" class="alert alert-info" style="display: none;"></div>
          {% csrf_token %}
           <div class="d-block my-3">
            <p>Select bank you are sending to? </p>
              {% for value, name in accnform.fields.account_type.choices %}
              <div class="custom-control custom-radio">
                <input id="{{ name }}" name="account_type" value="{{ value }}" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
              </div>
              {% endfor %}
            </div>
            <label> Account Number: </label>
            {{accnform.account_number}}
            <input type="submit" value=" Verifiy Account " class="btn" id="acc_confirm">
      
          </form>



        <!--- Send mone to account card ---->
          <form method="POST" action="" class="col-md" id="sendform" style=" display: none;">
              <div id="cfsmsg" class="alert alert-success" style="display: none;"></div>
              <div id="cfwmsg" class="alert alert-warning" style="display: none;"></div>
          <input name="reciever" style="display:none" type="text" id="senderId" value="{{bank.id}}">

          {% csrf_token %}
           <div class="d-block my-3">
              {% for value, name in sendform.fields.account_type.choices %}
              <div class="custom-control custom-radio">
                <input id="{{ name }}" name="account_type" value="{{ value }}" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
              </div>
              {% endfor %}
            </div>
            <div id="alable">
              <label> Amount: </label>
               {{sendform.amount}}
            </div>
            
            <label>Bank Name: </label>
            {{sendform.reciever_bank}}  
             <label>Reciever Name: </label>
            {{sendform.account_name}}  
            <input type="number" name="reciever_acc_no" id="rec_act_no_Id" style="display: none;">
            <input type="text" name="rec_act_type" id="rec_act_type_Id" style="display: none;">
            <input type="submit" value=" Send " class="btn" id="send_confirm">
      
          </form>

          <div class="col-md" id="send_card_draw">
          <!-- send money  message--->
           <div id="sedmsg" class="alert alert-danger" style="display: none;"></div>
           <div id="sepmsg" class="alert alert-primary" style="display: none;"></div>
           <div id="sesmsg" class="alert alert-success" style="display: none;"></div>
           <!-- end send money  message --->
          <a href="#" id="send-btn">
          <div class="card card-chart btn-danger">
          <div class="card-header">
            <h5 class="card-category">Send Money</h5>
            <h2 class="card-title" style="text-align:  center;"><i class="tim-icons icon-send text-primary"></i> Send  </h2>
          </div>
            <div class="card-body"> 
            </div>
          </div>

          </a>

        </div>



  <!---- Save Card --->

        <div class="col-md" id="savForm-card" style="display: none;">
        <form method="POST" action="" id="savForm">
          {% csrf_token %}
          <h4> Enter amount to save/invest </h4>
          {{sform}}
          <input type="submit" name="submit" class="btn btn-primary" value="Invest Funds" id="sav-proceed">     
        </form>

      </div>

        <div class="col-md" id="savCard">
          <div id="smsg" class="alert alert-success" style="display: none;"></div>
          <div id="spmsg" class="alert alert-primary" style="display: none;"></div>
          <div id="sdmsg" class="alert alert-danger" style="display: none;"></div>
          <a href="#" id="sav">
          <div class="card card-chart btn-success">
          <div class="card-header">
            <h5 class="card-category"> Save </h5>
            <h3 class="card-title" style="text-align:  center;"><i class="tim-icons  icon-lock-circle text-primary"></i> Save </h3>
          </div>
          <div class="card-body">        
          </div>
          </div>
        </a>
        </div>  
</div>
{% endif %}