 {% load static %}
 <div class="col-sm">
    <h5 class="category"> Browse Category </h5>
    <div class="border"> </div> 
    <div class="">
      <ul class="list-group">
        {% for category in menu_categories %}

        <a href="{% url 'store:category' category.slug  %}">
        <li class=" d-flex cat-item-space">
          {% if category.thubnail %}
            <span style="padding-right: 10px;" class="cat-img"><img  src="{{category.thubnail.url}}" alt="" ></span>
         {% else %}
         <span style="padding-right: 10px;" class="cat-img"><img  src="..." alt="" ></span>

          {% endif %}
        <h5 class="cat-item-head"> {{category.name }}   </h5>
      </li> 
       </a>

       <div class="border" style="width: 100%"> </div> 
           
          {% endfor %}

      </ul>




      <!---
 
      <ul class="list-group">
        <a href="{% url 'store:category' 'meat' %}">
          <li class=" d-flex cat-item-space">
         <span style="padding-right: 10px;" class="cat-img"><img  src="{% static 'dash/assets/img/utils/meat.png' %}" alt="" ></span>
        <h5 class="cat-item-head"> Meat and Sea Food   </h5>
      </li>
          
        </a>
          

      <a href="{% url 'store:category' 'grain' %}">
      <li class=" d-flex cat-item-space">
         <span style="padding-right: 10px;" class="cat-img"><img  src="{% static 'dash/assets/img/utils/grain.png' %}" alt="" ></span>
        <h5 class="cat-item-head"> Grains   </h5>
      </li> 
    </a>
     <div class="border" style="width: 100%"> </div> 
    <a href="{% url 'store:category' 'flour' %}">
        <li class=" d-flex cat-item-space">
         <span style="padding-right: 10px;" class="cat-img"><img  src="{% static 'dash/assets/img/utils/fruit.png' %}" alt="" ></span>
        <h5 class="cat-item-head"> All Purpose Flour   </h5>
      </li> 
    </a>
     <div class="border" style="width: 100%"> </div> 
    <a href="{% url 'store:category' 'oil' %}">
        <li class=" d-flex cat-item-space">
         <span style="padding-right: 10px;" class="cat-img"><img  src="{% static 'dash/assets/img/utils/fruit.png' %}" alt="" ></span>
        <h5 class="cat-item-head"> Oil and Fat    </h5>
      </li> 
    </a>
     <div class="border" style="width: 100%"> </div> 
    <a href="{% url 'store:category' 'spice' %}">   
        <li class=" d-flex cat-item-space">
         <span style="padding-right: 10px;" class="cat-img"><img  src="{% static 'dash/assets/img/utils/fruit.png' %}" alt="" ></span>
        <h5 class="cat-item-head"> Herbs and Spice    </h5>
      </li> 
    </a>
     <div class="border" style="width: 100%"> </div> 
    <a href="{% url 'store:category' 'beverage' %}">
     <li class=" d-flex cat-item-space">
         <span style="padding-right: 10px;" class="cat-img"><img  src="{% static 'dash/assets/img/utils/fruit.png' %}" alt="" ></span>
        <h5 class="cat-item-head"> Beverages  </h5>
      </li> 
    </a>
     <div class="border" style="width: 100%"> </div> 
    <a href="{% url 'store:category' 'vegetable' %}">
      <li class=" d-flex cat-item-space">
         <span style="padding-right: 10px;" class="cat-img"><img  src="{% static 'dash/assets/img/utils/vege.png' %}" alt="" ></span>
        <h5 class="cat-item-head"> Vegetables </h5>
      </li> 
    </a>
     <div class="border" style="width: 100%"> </div> 
    <a href="{% url 'store:category' 'fruit' %}">
      <li class=" d-flex cat-item-space">
         <span style="padding-right: 10px;" class="cat-img"><img  src="{% static 'dash/assets/img/utils/fruit.png' %}" alt="" ></span>
        <h5 class="cat-item-head"> Fruits and Nuts  </h5>
      </li> 
    </a>
     <div class="border" style="width: 100%"> </div> 
    <a href="{% url 'store:category' 'other' %}">
      <li class=" d-flex cat-item-space">
         <span style="padding-right: 10px;" class="cat-img"><img  src="{% static 'dash/assets/img/utils/fruit.png' %}" alt="" ></span>
        <h5 class="cat-item-head"> Others  </h5>
      </li> 
    </a>
    --->



    </div>
     
  </div>