
{% load static %}
 <footer class="footer_container">
 	<div class="row container">
 		<div class="col-sm">
 			<div class="f_logo">
 				<img src="{% static 'dash/assets/img/mek_logo.png' %}"> 
 			</div>
 		 <h3 class="f_title">Mekly Ltd.</h3>
 			<p class="f_tagline" >Saving you from stress <br> providing happiness</p>
 			<p class="f_mail"> <i class="fas fa-envelope-open-text"> </i> mail@meklint.com </p>
 		</div>
 		<div class="col-sm">
 			 <h3 class="f_title">Our services </h3>
 			<ul>
 				<li> <a href="#" class="f_link"> Pricing </a></li>
 				<li><a href="#" class="f_link"> Discounts </a></li>
 				<li><a href="#" class="f_link"> Delivery mode </a> </li>
 				

 			</ul>
 		</div>
 		<div class="col-sm">
 			 <h3 class="f_title"> Our Company </h3>
 			  <ul>
                <li><a href="#" class="f_link">Blog</a></li>
                <li><a href="#" class="f_link">About us</a></li>
                <li><a href="#" class="f_link">Our mision</a></li>
            </ul>

 		</div>
 		<div class="col-sm">
 			<h3 class="f_title">Follow Us</h3>
            <a href="https://facebook.com/meklints" class="f_link f_social"><i class='bx bxl-facebook-circle '></i></a>
            <a href="#" class="f_link"><i class='bx bxl-twitter'></i></a>
            <a href="#" class="f_link"><i class='bx bxl-instagram-alt'></i></a>
 			
 		</div>

 	</div>
 	<hr>
 	<div class="copy_write container">
 		  <p class="f__copy">&#169; 2021 Meklyltd. All right reserved <br>
                &#174; RC - 1 7 6 8 1 0 0 </p>
 	</div>


  </footer>



