{% load static %}

<div class="col-sm">
   <h3 style="text-align: center; margin-top: 32px; margin-bottom: 10px;"> Quick Menu </h3>
  <div class="row">
    <div class="col">
       <div class="card">
    <h5 class="card-sub-title">  <i class="fas fa-phone"></i> Call to Order</h5>
    <h5 class="card-title"> 0704 135 4452 </h5>
    <p class="card-text"> You can place your order via voice call </p>
      

    </div>
      <div class="border"></div>
        <div class="col">
       <div class="card btn " style="background-color:grey;">
    <a href="http://localhost:8000/fastfood/0000/"> 
      <!--<img  src="{% static 'dash/assets/img/mek_now_open.png' %}"  class="d-block w-100" alt="...">--->
  
      <h5 class="card-title " style=" margin-top: 3px; font-family:cursive; color: white;">   Mek's Kitchen 
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
         Live
        </span>

      </h5>

    </a>
  </div>
    </div>
    <div class="border"></div>

    <div class="col">
       <div class="card">
    <a href="#"><h5 class="card-title" style="color: green; margin-top: 5px;">  <i class="fab fa-whatsapp"></i> Whatsapp </h5></a>
    <p class="card-text"> You can place your order via whatsapp </p>  
  </div>
    </div>
    <div class="border"></div>
  
    
  </div>   
  </div>
</div>