{% load static %}
<div class="card" style="width: 20rem;">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <a href="#"><img src="{% static 'dash/assets/img/bigAds/finger_here.png' %}" class="d-block w-100" alt="..."></a>
      <div class="carousel-caption d-none d-md-block"> 
      </div>
    </div>
     {% for item in ads %}
      {% if item.display_section == 'Small' %}
    <div class="carousel-item" data-bs-interval="2000">
      <a href="#"><img src="{{item.image.url}}" class="d-block w-100" alt="..."></a>
      <div class="carousel-caption d-none d-md-block"> 
      </div>
    </div>
      {% endif %}
        {% endfor %}

  
     







  </div>
</div>
</div>
