
{% extends 'user_account/user_base.html' %}

{% block content %}
 <!--- SideBar Content---->   
<div id="layoutSidenav_content">
  <div class="container-fluid">
           <!--Main layout-->
      <main class="mt-5 pt-4">
        <div class="container wow fadeIn">
          <div class="">
                {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                   {{message }} 
                    <button type="button" class="btn-close btn-infor" data-bs-dismiss="alert" aria-label="Close"> Close</button>
                    </div>   
                  {% endfor %}
                {% endif %}
                  <!-- Heading -->
                  <h2 class="my-5 h2 text-center">Register Client's Details</h2>
                  <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                      {% if agent %} 
                    <div class="col-md-4 mb-4">
                     
                      <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Agent Details</span>
                      </h4>

                      {% include 'user_account/confirm_code.html'%}
                      <!-- Agent Details  -->
                      <ul class="list-group mb-3 z-depth-1">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0"> Full Name: {{agent.full_name}}</h6>
                            <small class="text-muted"> Email : {{agent.email}} </small>
                            <hr>
                            <h6 class="my-0"> Contact </h6>
                            <br>
                            <small class="text-muted"> Phone : {{agent.phone1 }} </small>
                            <br>
                            <small class="text-muted"> Town : {{agent.town }} </small>
                            <br>
                            <small class="text-muted"> Address : {{agent.address }} </small>
                           
                          </div>
                        </li>  
                        <li class="list-group-item d-flex justify-content-between">
                          <span>Agent ID: </span>
                          <strong>{{agent.agent_id}}</strong>
                        </li>
                      </ul>
                    
                    </div>
                      {% endif %}

                    <div class="col-md-8 mb-4">
                      <!--Card-->
                      <div class="card">
                        <!--Card content-->
                        <form class="card-body" method="POST">
                            {% csrf_token %}      
                          <div class="row">
                            <div class="col-md-6 mb-2">
                              <div class="md-form ">
                                 {{form.title}}         
                              <label for="firstName" class=""><strong> Title </strong></label>
                              </div>
                            </div>
                          </div>
                          <div class="md-form ">
                           {{form.full_name}}
                            <label for="fullName" class=""> <strong> Full Name  </strong> </label>
                          </div>
                          <div class="md-form ">
                            {{form.apartment_address}}
                            <label for="address" class=""> <strong>Apartment Address</strong></label>
                          </div>
                          <!--address-2-->
                          <div class="md-form ">
                             {{form.land_mark}}
                            <label for="address-2" class=""> <strong> Nearest Land mark</strong></label>
                          </div>
                            <div class="md-form ">
                             {{form.town}}
                            <label for="address-2" class=""><strong>Town</strong></label>
                          </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                              <label for="cc-name"><strong> Phone Number</strong> </label>
                              {{form.phone1}}          
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="cc-number"><strong>Phone Number 2 </strong> </label>
                             {{form.phone1}}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-4 col-md-6 ">
                              {{form.email}}
                              <label for="email" class=""><strong> Email (optional)</strong> </label>
                            </div>
                          </div>
                          <!--Grid row-->
                          <hr>
                          <hr class="mb-4">
                          <button class="btn btn-primary btn-lg btn-block" type="submit">Register Client </button>
                        </form>
                      </div>
                      <!--/.Card-->
                    </div>
                    
                </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->
      
      </main>
    <!--Main layout-->
    </div>
    {% include "user_account/footer_snippet.html" %}         
</div>
  
{% endblock %}















