{% extends 'user_account/user_base.html' %}


{% block content %}
		 <!--- SideBar Content---->   
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                    	<hr>      	
                    	<form method="POST">
                    	{% csrf_token %}
	                    	<div class="container">
	                    	
	                    		<div class="row" >
	                    			<div class="col">
							      		<h3>Personal Info:</h3>
							      		<hr>
					                 	<div class="custom-control">
					                 		{{form.full_name}} 
					                 	</div>
					                 	<br>
					                 	<div class="custom-control">
					                 		{{form.email}} 
					                 	</div>
					                 	<br>
					                 	<div class="custom-control">
					                 		<label for="phone1" >Mobile: </label>
					                 		{{form.phone1}} 
					                 	</div>
					                 	<div class="custom-control">
					                 		{{form.phone2}} 
					                 	</div>
					                 	<br>
					                 	<div class="custom-control">
					                 		<label for="town" >City Name/address: </label>
					                 		{{form.town}} 
					                 	</div>
					                 	<div class="custom-control">
					                 		{{form.address}} 
					                 	</div>
								    </div>
							    	<div class="col">
							    		<hr>
							     		 	<div class="d-block my-3">
					                		<h3> Agent Type:</h3>
							               {% for value, name in form.fields.agent_type.choices %}
							               <div class="custom-control custom-radio">
							                  <input id="{{name}}" name="agent_type" value="{{value}}" type="radio" class="custom-control-input" 
							                  checked required>
							                  <label class="custom-control-label" for="{{name}}">{{ name }}</label>
							                </div>
							                 {% endfor %}
							                
							              </div>
							              <hr>
							              	<h5>Delivery Agent Only</h5>
						                 	 <div class="custom-control custom-checkbox">
								                {{form.bike}}
								                <label for="skill" >Do you have a bike? </label>
								              </div> 
								               <div class="custom-control custom-checkbox">
								                {{form.keke}}
								                <label for="skill" >Do you drive keke? </label>
								              </div> 
								               <div class="custom-control custom-checkbox">
								                {{form.car}}
								                <label for="skill" >Do you own a car? </label>
								              </div>  
								              <button class="btn btn-primary btn-block" type="submit">Register Agent </button>       
				              		</div>
							    </div> 
	                    		</div>
	                   		</div>
               			 </form>

                        		
                        </div>  
                    </div>
                </main>
                {% include "user_account/footer_snippet.html" %}
            </div>


{% endblock %}
