
{% extends 'dashboard/layouts/base.html' %}
{% load static %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">

  <!--User Card Card

 	{% include 'dashboard/profile-card-snippet.html' %}
  <div class="col-md-8">--->

	{% include 'dashboard/edit-profile-snippet.html' %}

  </div>
 </div>
 {% block javascripts %}
 {% include 'testajax.html'%}

 {% endblock javascripts %}

{% endblock %}