{% extends 'dashboard/layouts/base.html' %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">

  <!--Profile Card--->

 {% include 'dashboard/profile-card-snippet.html' %}
  <div class="col-md-8">


  {% include 'dashboard/includes/order-card-snippet.html'%}
  {% if total_order %}
    {% include 'dashboard/order-table.html'%}

    </div>

  {% else %}
  <div class="card">
     <h3 class="container" style="text-align: center; color: gray;"> You have not placed any orders yet </h3>
    <a href="{% url 'edit-account' client.client_code %}" ><h4 class="btn btn-danger" >Update Profile</h4></a>

  </div>
    
  {% endif %}


   </div>

</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% include 'testajax.html'%}

{% endblock javascripts %}
