 <div class="col-md-4" id="profile-card">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="/static/dash/assets/img/emilyz.jpg" alt="...">
              <h3> Balance: N {{ client.wallet_balance}}</h3>
               
                <h5 class="title">
                {% if client.title %}
               {{client.title}}.  {{client.first_name}} {{client.last_name}}
                {% else %}
                <h3> User: {{client.user}}</h3>
              {% endif %}
               </h5>
            </a>
            {% if client.email %}
            <p class="description">
             {{client.email}}
            </p>
              {% endif %}

          </div>
        </p>
       
        <div class="card-description">
          {% if client.phone1 %}
          <strong>Phone 1 :</strong> {{client.phone1 }} <hr>
          Phone 2 : {{client.phone2 }}  <hr>
        {% endif %}
        {% if client.town %}
          Town : {{client.town }} <hr>
          Land mark: 
          <hr>
          Address : {{client.apartment_address }}
          <hr>
          {% endif %}



          Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
        
        </div>
      </div>
    </div>
  </div>