
{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Add Product {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <div class="">
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
  {% endif %}
  </div>
	




<hr>

<form method="POST" enctype="multipart/form-data" action="">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-8">
			<h4> Editing  {{ product.title }} </h4>
			
		</div>
		<div class="col">
			<button type="submit" class="btn btn-primary" id="pro_update_btn">Update </button>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-sm-4">
			<label> Produt / Service Title</label>
			{{ form.title}}
			<br>
			<label for="price"> Price</label>
			{{ form.price}}
			<br>
			<label for="discount_price">Discount Price (Optional)</label>
			{{ form.discount_price}}
			
			<br>
			<label for="cost_price"> Market Price(Optional)</label>
			{{ form.cost_price}}				
		</div>
		<div class="col-sm-4">
			
			<label for="short_desc"> Short Description</label>
			{{ form.short_desc}}

			<br>
			<label for="description">Description</label>
			{{ form.description}}

			<br>

			<div class="" style="display: none;">{{form.seller}}</div>
				<hr>
			
			<p> Product/ service Cover images </p>
			{{ form.image}}

			
			
			<hr>

		</div>
		<div class="col-sm">
			<p> Product Features </p>
			<label> Product status </label>
			<p>{{ form.status}}</p> 

			<label> Product category </label>
			<p>{{ form.category}}</p>

			<label> product Tag </label>
			<p>{{ form.tag}}</p> 

			<br>
			<label >Choose label</label> <br>
			{{ form.label}} 

			<hr>
			<p>Is this a Unit of a product/service ? </p> 
			 <p> {{form.unit}} Yes </p>
			 <hr>
			 <p>Slug </p> 
			 <p> {{form.slug}}  </p>
	        <hr>
	
			<p> Galary images (optional)</p>
			<label> Image one</label>
			{{ form.image_two}}
			<label> Image two</label>
			{{ form.image_three}}
		</div>


</form>	



 {% block javascripts %}

  {% include 'testajax.html' %}
<script type="text/javascript">

		$("#pro_update_btn").click(function(){
			console.log("Update product btn clicked")
			let proId = $("#accUserId").val();
			let proTitile = $("#proNameId").val();
			let proCost = $("#costPriceId").val();
			let disc_price  = $("#proDicePriceId").val();
			let proAmount = $("#price").val();
			let shortDesc = $("#shortDectId").val();
			let desc = $("#descId").val();
			let coverImg = $("input[id=id_image]").val();
			console.log(proTitile)

			console.log(coverImg)
			//let desc = $("").val();
			//let desc = $("").val();
			//let desc = $("").val();
			//let desc = $("").val();
			//let desc = $("").val();
		
			let csrf = $("input[name=csrfmiddlewaretoken]").val();





			//event.preventDefault();

		})
	



</script>


 {% endblock javascripts %}
		

{% endblock %}








